body {
    line-height: 15px;
    margin: 0;
}
div.highlight, div.linenodiv {
    margin-top: -8px;
}
div.linenodiv {
    border-right: 1px solid #EEE;
    margin-right: 2px;
    padding: 0 5px;
}
div.linenodiv a {
    color: black;
    text-decoration: none;
}
div.linenodiv a:hover {
    text-decoration: underline;
}
div.highlight > pre, div.linenodiv > pre {
    margin-bottom: 5px;
}
div.highlight pre > span {
    display: block;
}
