article.snipt div.group div.container {
  width: 708px;
}
article.snipt div.group div.container header {
  min-height: 0;
}
article.snipt div.group div.container header h1 {
  margin: 11px 15px;
}

body.detail section.main div.inner section.snipts article.snipt div.container {
  width: 940px;
}
body.detail div#disqus_thread {
  width: 925px;
}
