body.blog-site {
  margin: 0;
}
body.blog-site section.frame {
  margin: 0 auto;
  padding-top: 50px;
  width: 500px;
}
body.blog-site h1.blog-title {
  font-size: 34px;
  margin-bottom: 50px;
  margin-top: 0;
}
body.blog-site h1.blog-title a {
  color: #0094AF;
  font-weight: normal;
  text-decoration: none;
}
body.blog-site header.main {
  background: none;
  border-bottom: 0;
  height: auto;
  margin: 0 auto;
  width: 940px;
}
body.blog-site header.main h1 {
  margin: 0;
  padding: 29px 0 0 15px;
}

html, body {
  background: #f5f2f3 url("/static/images/bg.gif") top left repeat;
}

body {
  color: #666;
  font: normal 14px/16px "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  text-rendering: optimizeLegibility;
}
body li {
  line-height: normal;
}

.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.hidden {
  display: none;
}

body {
  color: #B3B3B3;
  font: normal 17px/24px "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
}
body h1.blog-title {
  line-height: 24px;
}

body.blog-homepage {
  padding-bottom: 39px;
}
body.blog-homepage p {
  font: normal 17px/24px "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  margin: 17px 0;
}
body.blog-homepage li {
  line-height: 24px;
  margin: 5px 15px;
}
body.blog-homepage img {
  display: block;
  margin: 53px auto 0 auto;
}
body.blog-homepage a {
  color: #898989;
}
body.blog-homepage a:hover {
  color: #292929;
  text-decoration: none;
}
