{% extends "base.html" %}

{% block page-title %}API Contest - {{ block.super }}{% endblock %}

{% block body-class %}{{ block.super }} api static api-contest{% endblock %}
{% block sub-header %}{% endblock %}

{% block content %}
    <div class="static-box">
        <a href="http://aneventapart.com" class="aea" title="An Event Apart">
            <img src="{{ STATIC_URL }}images/an-event-apart.gif" alt="An Event Apart" />
        </a>
        <h3>Snipt API Contest</h3>
        <p>Build an app that uses the new Snipt API and be entered to win two conference passes to <a href="http://aneventapart.com">An Event Apart</a> of your choosing (worth $1,800+). Public voting determines the winner.
        <h4>Rules</h4>
        <ul>
            <li>App must be complete by <strong>Sunday, April 1st, 2012 at 11pm EST</strong>.</li>
            <li>The app must use some part of the public or private Snipt APIs.</li>
            <li>App can be for desktop, mobile, CLI, etc. Anything goes.</li>
        </ul>
        <h4>API</h4>
        <p>The API is finished on our end, but we need to get the site up on Snipt.net first so you can use real endpoint URLs, API keys, etc. The authentication mechanism is API-key (no OAuth). Data formats available are JSON, JSONP, XML, YAML.</p>
        <p>We will be launching the new Snipt sometime before March 1st, 2012. This will give you at least one full month to build the app.</p>
        <p>The private APIs, once launched, will give you complete read/write access to a user's snipts.</p>
        <p>Some sample public endpoints:</p>
        <ul>
            <li><a href="http://beta.snipt.net/api/public/?format=json">http://beta.snipt.net/api/public/?format=json</a></li>
            <li><a href="http://beta.snipt.net/api/public/snipt/?format=json">http://beta.snipt.net/api/public/snipt/?format=json</a></li>
            <li><a href="http://beta.snipt.net/api/public/snipt/30532/?format=json">http://beta.snipt.net/api/public/snipt/30532/?format=json</a></li>
            <li><a href="http://beta.snipt.net/api/public/tag/?format=json">http://beta.snipt.net/api/public/tag/?format=json</a></li>
            <li><a href="http://beta.snipt.net/api/public/snipt/?tag=20&amp;format=json">http://beta.snipt.net/api/public/snipt/?tag=20&amp;format=json</a></li>
            <li><a href="http://beta.snipt.net/api/public/user/3/?format=json">http://beta.snipt.net/api/public/user/3/?format=json</a></li>
        </ul>
        <h4>Teams</h4>
        <ul>
            <li>Feel free to partner up on this project, if you'd like. There are no restrictions on the number of team members participating, but there are only two tickets for prizes (see below).</li>
            <li>One entry = one application (regardless of the number of team members)</li>
        </ul>
        <h4>Prize</h4>
        <ul>
            <li>Once your app is complete and submitted, it will appear in our app showcase. From there, anyone can vote for your app to win after <strong>Monday April 2nd at 11am EST</strong>, . The app with the most votes by <strong>Monday, April 9th at 11am EST</strong> will be the winner (one full week of voting).</li>
            <li>The winner will receive two tickets to <a href="http://aneventapart.com">An Event Apart</a> of your choosing (event must not be sold-out). Each ticket includes access to the 2-day conference but *not* the workshop.</li>
        </ul>
        <h4>Questions?</h4>
        <p>Leave a comment below and we'll respond on this page.</p>
    </div>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'snipt-net';
        {% if debug %}
            var disqus_developer = 1;
        {% endif %}
        var disqus_url = 'http://snipt.net{{ request.path }}';
        var disqus_title = 'Snipt API Contest';
        var disqus_identifier = 9948337532;

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
{% endblock %}
