{% extends "base.html" %}

{% block page-title %}Activation Complete - {{ block.super }}{% endblock %}

{% block body-class %}{{ block.super }} activation-complete{% endblock %}

{% block content %}
    <section class="box">
        <h1>Sign up for Smooth Wallet</h1>
        <div class="inner">
            <div class="top group">
                Thanks, activation complete!  You may now <a href='{% url auth_login %}'>login</a> using the username and password you set at registration.
            </div>
        </div>
    </section>
{% endblock %}
