{% extends "base.html" %}

{% block page-title %}Login - {{ block.super }}{% endblock %}

{% block html-class %}account{% endblock %}
{% block body-class %}{{ block.super }} account login {% if request.GET.activationcomplete %}activation-complete{% endif %}{% endblock %}

{% block content %}
    <h1 class="logo"><a href="/">Smooth Wallet</a></h1>
    <div class="modal">
        <form method="post" action="{% url django.contrib.auth.views.login %}">
            <div class="modal-header">
                <h3>Login</h3>
            </div>
            <div class="modal-body {% if form.errors %}modal-body-errors{% endif %}">
                {% if request.GET.activationcomplete %}
                    <div class="alert-message success">
                        Successfully confirmed email! Log in below.
                    </div>
                {% endif %}
                {% if form.errors %}
                    {% if form.non_field_errors %}
                        <div class="alert-message block-message error">
                            {{ form.non_field_errors }}
                            <div class="alert-actions">
                                <a class="btn small" href="/password/reset/">Forgot your password?</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="alert-message error">
                            <p>Please fix the errors below.</p>
                        </div>
                    {% endif %}
                {% endif %}
                <fieldset>
                    <div class="clearfix {% if form.username.errors %}error{% endif %}">
                        <label for="id_username">Username</label>
                        <div class="input">
                            {{ form.username }}
                            {% if form.errors.username %}
                                <span class="help-inline">
                                    {% for error in form.errors.username  %}
                                        {{ error }}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="clearfix {% if form.password.errors %}error{% endif %}">
                        <label for="id_password">Password</label>
                        <div class="input">
                            {{ form.password }}
                            {% if form.errors.password %}
                                <span class="help-inline">
                                    {% for error in form.errors.password  %}
                                        {{ error }}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <a class="btn secondary forgot" href="{% url auth_password_reset %}">Forgot your password?</a>
                <!--<a class="btn secondary signup" href="/signup/">Need to sign up?</a>-->
                <input type="hidden" name="next" value="{{ next }}" />
                {% csrf_token %}
                <input class="btn primary submit" type="submit" value="Log in" />
            </div>
        </form>
    </div>
{% endblock %}
