{% extends "base.html" %}

{% block page-title %}Confirm Password Reset - {{ block.super }}{% endblock %}

{% block body-class %}{{ block.super }} signin new-password{% endblock %}

{% block content %}
    <section class="box">
        <div class="inner">
            <div class="top group">
                {% if form.errors %}
                    <div class="errors">
                        {{ form.new_password1.errors }}
                        {{ form.new_password2.errors }}
                    </div>
                {% endif %}
                <div class="legend top-legend">
                    Enter your new password below to reset your password:
                </div>
                <form method="post" action="">{% csrf_token %}
                    <div class="fields">
                        <div class="field {% if form.new_password1.errors %}error{% endif %}">
                            {{ form.new_password1.label_tag }}
                            {{ form.new_password1 }}
                        </div>
                        <div class="field {% if form.new_password2.errors %}error{% endif %}">
                            {{ form.new_password2.label_tag }}
                            {{ form.new_password2 }}
                        </div>
                    </div>
                    <input class="submit" type="submit" value="Set Password" />
                </form>
            </div>
        </div>
    </section>
{% endblock %}
