.gunicorn.pid
.sass-cache
.vagrant
.venv

*.log
*.un~
*.pgdump
*.pyc

settings_local.py
settings_local_server.py

media/cache
media/css/pro.css
media/css/snipt.css
media/js/src/account.min.js
media/js/src/snipts.min.js
media/js/src/search.min.js
media/js/src/jobs.min.js
media/js/src/application.min.js
media/js/src/modules/snipt.min.js
media/js/src/pro.min.js
media/js/pro-all.min.js
static/admin
static/css
static/fonts
static/img
static/js
tags
