BeautifulSoup
boto
bugsnag
biplist
Django
django-annoying
django-appconf
django-bcrypt
django-extensions
django-markdown-deux
django-pagination
django-taggit
django-templatetag-sugar
gunicorn
lxml
parsedatetime
psycopg2
Pygments
python-memcached
python-postmark
pyyaml
simplejson
South
uuid
versiontools
Werkzeug

git+git://github.com/dlo/bottlenose.git
git+git://github.com/yoavaviram/python-amazon-simple-product-api.git
git+git://github.com/toastdriven/pyelasticsearch.git
git+https://github.com/toastdriven/django-haystack.git@master#egg=django-haystack
hg+https://bitbucket.org/ubernostrum/django-registration#egg=django-registration
git+https://github.com/toastdriven/django-tastypie.git#egg=django-tastypie
git+git://github.com/jbalogh/django-cache-machine.git#egg=django-cache-machine
git+git://github.com/mintchaos/typogrify.git#egg=typogrify
