BeautifulSoup
biplist
Django
django-annoying
django-appconf
django-bcrypt
django_compressor
django-grappelli
django-pagination
django-taggit
django-templatetag-sugar
gunicorn
johnny-cache
lxml
psycopg2
Pygments
python-memcached
python-postmark
pyyaml
South
uuid
versiontools
Werkzeug

hg+https://bitbucket.org/ubernostrum/django-registration#egg=django-registration
git+https://github.com/toastdriven/django-tastypie.git#egg=django-tastypie
