BeautifulSoup
biplist
boto
Django
django-annoying
django-bcrypt
django-grappelli
django-pagination
django-storages
django-taggit
django-tastypie
django-templatetag-sugar
gunicorn
johnny-cache
lxml
psycopg2
Pygments
python-memcached
python-postmark
pyyaml
South
uuid
Werkzeug

hg+ssh://hg@bitbucket.org/ubernostrum/django-registration#egg=django-registration
