{% extends "registration/registration_base.html" %}

{% block page-title %}Reset password - {{ block.super }}{% endblock %}

{% block body-class %}{{ block.super }} static{% endblock %}

{% block content %}
    <form class="form-horizontal static-box" method="post" action=".">
        {% if form.errors %}
            {% if form.non_field_errors %}
                <div class="alert alert-error">
                    {{ form.non_field_errors }}
                </div>
            {% else %}
                <div class="alert alert-error">
                    Please fix the errors below.
                </div>
            {% endif %}
        {% endif %}
        <fieldset>
            <legend>Reset password</legend>
            <div class="control-group {% if form.email.errors %}error{% endif %}">
                <label class="control-label" for="id_email">Email</label>
                <div class="controls">
                    {{ form.email }}
                    {% if form.errors.email %}
                        <span class="help-inline">
                            {% for error in form.errors.email  %}
                                {{ error }}
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>
            </div>
            <div class="form-actions group">
                <a class="btn pull-right" href="/login/">Log in</a>
                <button class="btn btn-primary" type="submit">Reset password</button>
            </div>
        </fieldset>
        {% csrf_token %}
    </form>
{% endblock %}
