// Fonts
$Helvetica: 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
$Consolas: Consolas, Menlo, "Courier New", monospace;

// Mixins
@mixin border-radius($radius: 5px) {
    -webkit-background-clip: padding-box;
    -webkit-border-radius: $radius;
    -moz-background-clip: padding-box;
    -moz-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;
}
@mixin box-shadow($horizontal: 0px, $vertical: 1px, $blur: 2px, $color: #CCC) {
  -webkit-box-shadow: $horizontal $vertical $blur $color;
  -moz-box-shadow: $horizontal $vertical $blur $color;
  box-shadow: $horizontal $vertical $blur $color;
}
@mixin inset-box-shadow($horizontal: 0px, $vertical: 1px, $blur: 2px, $color: #CCC) {
  -webkit-box-shadow: inset $horizontal $vertical $blur $color;
  -moz-box-shadow: inset $horizontal $vertical $blur $color;
  box-shadow: inset $horizontal $vertical $blur $color;
}
@mixin multi-color-border($top, $sides, $bottom) {
    border-top: 1px solid $top;
    border-left: 1px solid $sides;
    border-right: 1px solid $sides;
    border-bottom: 1px solid $bottom;
}
@mixin multi-border-radius($topLeft: 5px, $topRight: 5px, $bottomRight: 5px, $bottomLeft: 5px) {
    -webkit-border-top-left-radius: $topLeft;
    -webkit-border-top-right-radius: $topRight;
    -webkit-border-bottom-right-radius: $bottomRight;
    -webkit-border-bottom-left-radius: $bottomLeft;
    -moz-border-radius-topleft: $topLeft;
    -moz-border-radius-topright: $topRight;
    -moz-border-radius-bottomright: $bottomRight;
    -moz-border-radius-bottomleft: $bottomLeft;
    border-top-left-radius: $topLeft;
    border-top-right-radius: $topRight;
    border-bottom-right-radius: $bottomRight;
    border-bottom-left-radius: $bottomLeft;
}
@mixin vertical-gradient($start: #000, $stop: #FFF) { background: ($start + $stop) / 2;
    background: -webkit-gradient(linear, left top, left bottom, from($start), to($stop));
    background: -moz-linear-gradient(center top, $start 0%, $stop 100%);
    background: -moz-gradient(center top, $start 0%, $stop 100%);
}
@mixin vertical-gradient-with-image($image, $start: #000, $stop: #FFF) {
    background: ($start + $stop) / 2 $image;
    background: $image, -webkit-gradient(linear, left top, left bottom, from($start), to($stop));
    background: $image, -moz-linear-gradient(center top, $start 0%, $stop 100%);
    background: $image, -moz-gradient(center top, $start 0%, $stop 100%);
}
@mixin opacity($op) {
    -khtml-opacity: $op;
    -moz-opacity: $op;
    opacity: $op;
}

// Page
html, body {
    background: #FFF;
}
body {
    color: #666;
    font: normal 14px/16px $Helvetica;
    text-rendering: optimizeLegibility;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

// Utils
.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.hidden {
    display: none;
}

// Global
div.frame {
    margin: 0 auto;
    position: relative;
    width: 980px;

    div.ruler {
        background: #EAEAEA;
        height: 100%;
        position: fixed;
        top: 0;
        width: 1px;
        z-index: 49;
    }
    div.left-y {
        margin-left: 40px;
    }
    div.right-y {
        margin-left: 760px;
    }
}
header.main {
    padding: 20px 0;
    position: relative;
    z-index: 50;

    a.logo {
        display: inline-block;

        span.avatar {
            display: inline-block;
            height: 80px;
            width: 80px;
            @include border-radius(80px);
            -webkit-box-shadow: 0 0 0px 1px white, 0 0 10px 0px rgba(0, 0, 0, .6);
            -moz-box-shadow: 0 0 0px 1px white, 0 0 10px 0px rgba(0, 0, 0, .6);
            box-shadow: 0 0 0px 1px white, 0 0 10px 0px rgba(0, 0, 0, .6);
            -webkit-transition: box-shadow .05s linear;
            -moz-transition: box-shadow .05s linear;
            -o-transition: box-shadow .05s linear;
            transition: box-shadow .05s linear;
        }
        &:hover {
            span.avatar {
                -webkit-box-shadow: 0 0 0px 1px white, 0 0 15px 0px rgba(0, 0, 0, 1);
                -moz-box-shadow: 0 0 0px 1px white, 0 0 15px 0px rgba(0, 0, 0, 1);
                box-shadow: 0 0 0px 1px white, 0 0 15px 0px rgba(0, 0, 0, 1);
            }
        }
        &:active {
            span.avatar {
                -webkit-box-shadow: 0 0 0px 1px white, 0 0 10px 0px rgba(0, 0, 0, .6);
                -moz-box-shadow: 0 0 0px 1px white, 0 0 10px 0px rgba(0, 0, 0, .6);
                box-shadow: 0 0 0px 1px white, 0 0 10px 0px rgba(0, 0, 0, .6);
            }
        }
    }
    div.bio {
        display: inline-block;
        margin: 9px 0 0 12px;
        vertical-align: top;

        a.name {
            color: #666;
            font: 500 18px $Helvetica;
            text-decoration: none;
            -webkit-transition: color .05s linear;
            -moz-transition: color .05s linear;
            -o-transition: color .05s linear;
            transition: color .05s linear;

            &:hover {
                color: black;
            }
        }
        p {
            color: #B7B7B7;
            font: 500 12px $Helvetica;
            line-height: 18px;
            margin-top: 1px;
            max-width: 400px;

            a {
                color: #B7B7B7;
                font-weight: bold;
                -webkit-transition: color .05s linear;
                -moz-transition: color .05s linear;
                -o-transition: color .05s linear;
                transition: color .05s linear;

                &:hover {
                    color: #666;
                }
            }
        }
    }
}
section.main {
    section.content {
        float: left;
        width: 760px;

        div.gutter {
            float: left;
            width: 80px;
        }
        div.content-inner {
            float: right;
            margin-left: 16px;
            width: 664px;
        }
    }
    aside.main {
        float: right;
        padding-left: 20px;
        width: 220px;

        section.module {
            margin-bottom: 40px;

            h1 {
                color: #999;
                font: bold 12px $Helvetica;
                margin-bottom: 10px;
            }
            ul {
                li {
                    margin: 0;

                    a {
                        color: #999;
                        display: block;
                        font: normal 12px $Helvetica;
                        line-height: 18px;
                        max-width: 220px;
                        overflow: hidden;
                        text-decoration: none;
                        text-overflow: ellipsis;
                        white-space: nowrap;

                        &:before {
                            background: #EEE;
                            content: "";
                            display: inline-block;
                            margin-right: 10px;
                            height: 9px;
                            width: 9px;
                            @include border-radius;
                        }
                        &:hover {
                            color: #666;

                            &:before {
                                background: #CCC;
                            }
                        }
                    }
                }
            }
        }
    }
}
div.pagination {
    clear: left;
    margin-left: 96px;
}
