{% extends "snipts/list.html" %}

{% block breadcrumb %}
    <li><a href="/public/">public</a></li>
    {% if tag %}
        <li><span class="prompt">/</span> <a href="/public/tag/{{ tag.slug }}/">{{ tag.name }}</a></li>
    {% endif %}
    <li class="rss">
        <a href="{{ request.path }}?rss">RSS</a>
    </li>
{% endblock %}

{% block aside-top %}
    {% if not request.user.profile.is_pro %}
        {% include 'carbon.html' %}
    {% endif %}
    {% include "snipts/tags-public.html" %}
{% endblock %}
