{% extends "base.html" %}

{% load pagination_tags %}

{% block body-class %}{{ block.super }}{% if user.username == 'blog' %} blog{% endif %}{% endblock %}

{% block page-title %}/ {% if public and not public_user %}public{% else %}{{ user.username }}{% endif %}{% if tag %} / {{ tag }}{% endif %} - {{ block.super }}{% endblock %}

{% block js %}
        {{ block.super }}
        window.detail = false;
{% endblock %}

{% block content %}
    <section class="snipts" id="snipts">
        {% comment %}
        {% if not request.user.profile.is_pro %}
            <div class="alert alert-info site-notice">Announcing <a href="/pro/">Snipt Pro</a>. Support the development of Snipt and get exclusive features for only $19/year.</div>
        {% endif %}
        {% endcomment %}
        {% autopaginate snipts 10 %}
        {% for snipt in snipts %}
            {% include "snipts/snipt-list.html" %}
        {% empty %}
            <div class="empty-snipts">
                {{ user.username }} has no public snipts.
            </div>
        {% endfor %}
        {% paginate %}
    </section>
    <script type="text/javascript" id="disqus">
        var disqus_shortname = 'snipt-net';
        {% if debug %}
            var disqus_developer = 1;
        {% endif %}

        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'https://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
    <script type="text/html" id="disqus-template">
        var disqus_shortname = 'snipt-net';
        {% if debug %}
            var disqus_developer = 1;
        {% endif %}

        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'https://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
{% endblock %}
