{% extends "snipts/list.html" %}

{% block breadcrumb %}
    <li><a href="/public/">public</a></li>
    {% if tag %}
        <li><span class="prompt">/</span> <a href="/public/tag/{{ tag.slug }}/">{{ tag.name }}</a></li>
    {% endif %}
    <li class="rss">
        <a href="{{ request.path }}?rss">RSS</a>
    </li>
{% endblock %}

{% block aside-top %}
    <div class="sifter">
        <h3>Building things is hard.</h3>
        <p>
            Issue tracking shouldn't be. <a href="https://sifterapp.com/from/snipt" title="Sifter: Simple issue tracking for big projects and small teams.">Sifter</a> makes it simple.
        </p>
        <a class="sifter-logo" href="https://sifterapp.com/from/snipt" title="Sifter: Simple issue tracking for big projects and small teams.">
            <img src="{{ STATIC_URL }}images/sifter-black-white.png" alt="Sifter: Simple issue tracking for big projects and small teams." />
        </a>
    </div>
    {% include "snipts/tags-public.html" %}
{% endblock %}
