{% extends "snipts/list.html" %}

{% load snipt_tags %}

{% block breadcrumb %}
    <li><a href="/{{ user.username }}/">{{ user.username }}</a></li>
    {% if tag %}
        <li><span class="prompt">/</span> <a href="/{{ user.username }}/tag/{{ tag.slug }}/">{{ tag.name }}</a></li>
    {% endif %}
    <li class="rss">
        <a href="{{ request.path }}?rss{% if not public %}&api_key={{ request.user.api_key.key }}{% endif %}">RSS</a>
    </li>
{% endblock %}

{% block tags %}
    <div class="profile group">
        <span class="avatar" title="Manage your avatar at Gravatar.com" style="background-image: url('https://secure.gravatar.com/avatar/{{ user.email|md5 }}?s=50');"></span>
        <div class="meta">
            <div class="username" title="{{ user.username }}">
                {% if user.username == 'blog' %}
                    Blog
                {% else %}
                    {{ user.username }}
                {% endif %}
            </div>
            {% if user.username == 'nick' %}
                <div class="member-since">Snipt Founder<br />in {{ user.date_joined|date:"Y" }}</div>
            {% else %}
                {% if user.username == 'blog' %}
                    <div class="member-since">Official Snipt<br />blog</div>
                {% else %}
                    <div class="member-since">Member since<br />{{ user.date_joined|date:"Y" }}</div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <!--<section class="ad">-->
        <!--<div id="carbonads-container">-->
            <!--<div class="carbonad">-->
                <!--<div id="azcarbon"></div>-->
                <!--<script type="text/javascript">-->
                    <!--var z = document.createElement("script");-->
                    <!--z.type = "text/javascript";-->
                    <!--z.async = true;-->
                    <!--z.src = "https://engine.carbonads.com/z/12124/azcarbon_2_1_0_VERT";-->
                    <!--var s = document.getElementsByTagName("script")[0];-->
                    <!--s.parentNode.insertBefore(z, s);-->
                <!--</script>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->
    {% include "snipts/tags-user.html" %}
{% endblock %}
