{% extends "base.html" %}

{% load pagination_tags %}

{% block body-class %}{{ block.super }}{% if user.username == 'blog' %} blog{% endif %}{% endblock %}

{% block page-title %}/ {% if public and not public_user %}public{% else %}{{ user.username }}{% endif %}{% if tag %} / {{ tag }}{% endif %} - {{ block.super }}{% endblock %}

{% block js %}
        {{ block.super }}
        window.detail = false;
{% endblock %}

{% block content %}
    <section class="snipts" id="snipts" ng-controller="SniptListController"
        {% if request.user.profile.list_view == 'C' %}
            ng-cloak ng-show="$root.account.id"
        {% endif %}>
        {% if not request.user.profile.is_pro %}
          <div class="google-ads" style="margin-top: 30px;">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- New Snipt Leaderboard -->
            <ins class="adsbygoogle"
              style="display:inline-block;width:728px;height:90px"
              data-ad-client="ca-pub-6776929316186576"
              data-ad-slot="5792558066"></ins>
            <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>
        {% endif %}
        {% autopaginate snipts 10 %}
        {% for snipt in snipts %}
            {% include "snipts/snipt-list.html" %}
        {% empty %}
            <div class="empty-snipts">
                No snipts to show here. Sorry!
            </div>
        {% endfor %}
        {% paginate %}
    </section>
    <script type="text/javascript" id="disqus">
        var disqus_shortname = 'snipt-net';
        {% if debug %}
            var disqus_developer = 1;
        {% endif %}

        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'https://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
    <script type="text/html" id="disqus-template">
        var disqus_shortname = 'snipt-net';
        {% if debug %}
            var disqus_developer = 1;
        {% endif %}

        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'https://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
{% endblock %}
