{% extends "snipts/list.html" %}

{% block breadcrumb %}
    <li><a href="/{{ user.username }}/">{{ user.username }}</a></li>
    {% if tag %}
        <li><span class="prompt">/</span> <a href="/{{ user.username }}/tag/{{ tag.slug }}/">{{ tag.name }}</a></li>
    {% endif %}
    {% if favorites %}
        <li><span class="prompt">/</span> <a href="/{{ user.username }}/favorites/">Favorited snipts</a></li>
    {% endif %}
    <li class="rss">
        <a href="{{ request.path }}?rss{% if not public %}&api_key={{ request.user.api_key.key }}{% endif %}">RSS</a>
    </li>
{% endblock %}

{% block aside-top %}
    {% include "profile.html" %}
    {% if not request.user.profile.is_pro %}
        <div class="sifter">
            <h3>Building things is hard.</h3>
            <p>
                Issue tracking shouldn't be. <a href="https://sifterapp.com/from/snipt" title="Sifter: Simple issue tracking for big projects and small teams.">Sifter</a> makes it simple.
            </p>
            <a class="sifter-logo" href="https://sifterapp.com/from/snipt" title="Sifter: Simple issue tracking for big projects and small teams.">
                <img src="{{ STATIC_URL }}images/sifter-black-white.png" alt="Sifter: Simple issue tracking for big projects and small teams." />
            </a>
        </div>
    {% endif %}
    {% include "snipts/tags-user.html" %}
{% endblock %}
