{% load humanize %}

<article class="snipt">
    <div class="number">#{{ snipt.id }}</div>
    <div class="group">
        <div class="container">
            <header>
                <h2>{{ snipt.lexer_name }}</h2>
                <h1><a href="{{ snipt.get_absolute_url }}">{{ snipt.title }}</a></h1>
            </header>
            <section class="code default">
                {{ snipt.get_stylized|safe }}
                {% if snipt.get_line_count > 9 %}
                    <a href="#" class="expand">
                        Expand
                    </a>
                {% endif %}
            </section>
            <div class="ruler top-x"></div>
            <div class="ruler bottom-x"></div>
        </div>
        <aside></aside>
    </div>
    <footer>
        <ul class="attrs">
            <li class="created">{{ snipt.created|naturalday }}</li>
            <li class="comments"><a href="{{ snipt.get_absolute_url }}#comments">Comments ({{ snipt.comment_set.all|length }})</a></li>
        </ul>
    </footer>
</article>
