<section class="tags">
    <h1>Popular public tags</h1>
    <ul>
        <li>
            <a href="/public/tag/as3/">as3</a>
        </li>
        <li>
            <a href="/public/tag/bash/">bash</a>
        </li>
        <li>
            <a href="/public/tag/c_2/">c++</a>
        </li>
        <li>
            <a href="/public/tag/css/">css</a>
        </li>
        <li>
            <a href="/public/tag/django/">django</a>
        </li>
        <li>
            <a href="/public/tag/drupal/">drupal</a>
        </li>
        <li>
            <a href="/public/tag/git/">git</a>
        </li>
        <li>
            <a href="/public/tag/html/">html</a>
        </li>
        <li>
            <a href="/public/tag/java/">java</a>
        </li>
        <li>
            <a href="/public/tag/javascript/">javascript</a>
        </li>
        <li>
            <a href="/public/tag/jquery/">jquery</a>
        </li>
        <li>
            <a href="/public/tag/js/">js</a>
        </li>
        <li>
            <a href="/public/tag/linux/">linux</a>
        </li>
        <li>
            <a href="/public/tag/mysql/">mysql</a>
        </li>
        <li>
            <a href="/public/tag/php/">php</a>
        </li>
        <li>
            <a href="/public/tag/python/">python</a>
        </li>
        <li>
            <a href="/public/tag/ruby/">ruby</a>
        </li>
        <li>
            <a href="/public/tag/sql/">sql</a>
        </li>
        <li>
            <a href="/public/tag/wordpress/">wordpress</a>
        </li>
    </ul>
    <a href="/tags/" class="all-tags">View all tags &raquo;</a>
</section>
