<section class="tags">
    <div class="alt-links">
        {% if request.user == user %}
            <a href="/{{ user }}/favorites/" class="alt-link favorites {% if 'favorites' in request.path %}active{% endif %}"><span>View favorited snipts &raquo;</span></a>
        {% endif %}
        {% if user.profile.get_blog_posts %}
            <a href="/{{ user }}/blog-posts/" class="alt-link {% if 'blog-posts' in request.path %}active{% endif %}"><span>View blog posts &raquo;</span></a>
        {% endif %}
    </div>
    {% if tags %}
        <h1>{{ user.username }}'s tags</h1>
        <ul>
            {% for t in tags %}
                <li>
                    <a {% if tag.name == t.name %}class="active"{% endif %} href="/{{ user.username }}/tag/{{ t.slug }}/"><span>{{ t.name }}</span></a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</section>
