{% if tags %}
    <section class="tags">
        {% if user.username == 'blog' %}
            <h1>Blog posts</h1>
        {% else %}
            <h1>{{ user.username }}'s tags</h1>
        {% endif %}
        <ul>
            {% for t in tags %}
                <li>
                    <a {% if tag.name == t.name %}class="active"{% endif %} href="/{{ user.username }}/tag/{{ t.slug }}/">{{ t.name }} ({{ t.count }})</a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endif %}
