<section class="tags">
    <h1>Popular public tags</h1>
    <ul>
        <li>
            <a href="/public/tag/angular/" {% if tag.name == 'angular' %}class="active"{% endif %}><span>angular</span></a>
        </li>
        <li>
            <a href="/public/tag/bash/" {% if tag.name == 'bash' %}class="active"{% endif %}><span>bash</span></a>
        </li>
        <li>
            <a href="/public/tag/c_2/" {% if tag.name == 'c++' %}class="active"{% endif %}><span>c++</span></a>
        </li>
        <li>
            <a href="/public/tag/css/" {% if tag.name == 'css' %}class="active"{% endif %}><span>css</span></a>
        </li>
        <li>
            <a href="/public/tag/django/" {% if tag.name == 'django' %}class="active"{% endif %}><span>django</span></a>
        </li>
        <li>
            <a href="/public/tag/drupal/" {% if tag.name == 'drupal' %}class="active"{% endif %}><span>drupal</span></a>
        </li>
        <li>
            <a href="/public/tag/ember/" {% if tag.name == 'ember' %}class="active"{% endif %}><span>ember</span></a>
        </li>
        <li>
            <a href="/public/tag/git/" {% if tag.name == 'git' %}class="active"{% endif %}><span>git</span></a>
        </li>
        <li>
            <a href="/public/tag/html/" {% if tag.name == 'html' %}class="active"{% endif %}><span>html</span></a>
        </li>
        <li>
            <a href="/public/tag/java/" {% if tag.name == 'java' %}class="active"{% endif %}><span>java</span></a>
        </li>
        <li>
            <a href="/public/tag/javascript/" {% if tag.name == 'javascript' %}class="active"{% endif %}><span>javascript</span></a>
        </li>
        <li>
            <a href="/public/tag/jquery/" {% if tag.name == 'jquery' %}class="active"{% endif %}><span>jquery</span></a>
        </li>
        <li>
            <a href="/public/tag/js/" {% if tag.name == 'js' %}class="active"{% endif %}><span>js</span></a>
        </li>
        <li>
            <a href="/public/tag/linux/" {% if tag.name == 'linux' %}class="active"{% endif %}><span>linux</span></a>
        </li>
        <li>
            <a href="/public/tag/mysql/" {% if tag.name == 'mysql' %}class="active"{% endif %}><span>mysql</span></a>
        </li>
        <li>
            <a href="/public/tag/php/" {% if tag.name == 'php' %}class="active"{% endif %}><span>php</span></a>
        </li>
        <li>
            <a href="/public/tag/python/" {% if tag.name == 'python' %}class="active"{% endif %}><span>python</span></a>
        </li>
        <li>
            <a href="/public/tag/rails/" {% if tag.name == 'rails' %}class="active"{% endif %}><span>rails</span></a>
        </li>
        <li>
            <a href="/public/tag/react/" {% if tag.name == 'react' %}class="active"{% endif %}><span>react</span></a>
        </li>
        <li>
            <a href="/public/tag/ruby/" {% if tag.name == 'ruby' %}class="active"{% endif %}><span>ruby</span></a>
        </li>
        <li>
            <a href="/public/tag/sql/" {% if tag.name == 'sql' %}class="active"{% endif %}><span>sql</span></a>
        </li>
        <li>
            <a href="/public/tag/wordpress/" {% if tag.name == 'wordpress' %}class="active"{% endif %}><span>wordpress</span></a>
        </li>
    </ul>
    <a href="/tags/" class="all-tags"><span>View all tags &raquo;</span></a>
</section>
