// Fonts
$Helvetica: 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
$Consolas: Consolas, Menlo, "Courier New", monospace;

// Mixins
@mixin border-radius($radius: 5px) {
    -webkit-background-clip: padding-box;
    -webkit-border-radius: $radius;
    -moz-background-clip: padding-box;
    -moz-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;
}
@mixin box-shadow($horizontal: 0px, $vertical: 1px, $blur: 2px, $color: #CCC) {
  -webkit-box-shadow: $horizontal $vertical $blur $color;
  -moz-box-shadow: $horizontal $vertical $blur $color;
  box-shadow: $horizontal $vertical $blur $color;
}
@mixin inset-box-shadow($horizontal: 0px, $vertical: 1px, $blur: 2px, $color: #CCC) {
  -webkit-box-shadow: inset $horizontal $vertical $blur $color;
  -moz-box-shadow: inset $horizontal $vertical $blur $color;
  box-shadow: inset $horizontal $vertical $blur $color;
}
@mixin multi-color-border($top, $sides, $bottom) {
    border-top: 1px solid $top;
    border-left: 1px solid $sides;
    border-right: 1px solid $sides;
    border-bottom: 1px solid $bottom;
}
@mixin multi-border-radius($topLeft: 5px, $topRight: 5px, $bottomRight: 5px, $bottomLeft: 5px) {
    -webkit-border-top-left-radius: $topLeft;
    -webkit-border-top-right-radius: $topRight;
    -webkit-border-bottom-right-radius: $bottomRight;
    -webkit-border-bottom-left-radius: $bottomLeft;
    -moz-border-radius-topleft: $topLeft;
    -moz-border-radius-topright: $topRight;
    -moz-border-radius-bottomright: $bottomRight;
    -moz-border-radius-bottomleft: $bottomLeft;
    border-top-left-radius: $topLeft;
    border-top-right-radius: $topRight;
    border-bottom-right-radius: $bottomRight;
    border-bottom-left-radius: $bottomLeft;
}
@mixin vertical-gradient($start: #000, $stop: #FFF) { background: ($start + $stop) / 2;
    background: -webkit-gradient(linear, left top, left bottom, from($start), to($stop));
    background: -moz-linear-gradient(center top, $start 0%, $stop 100%);
    background: -moz-gradient(center top, $start 0%, $stop 100%);
}
@mixin vertical-gradient-with-image($image, $start: #000, $stop: #FFF) {
    background: ($start + $stop) / 2 $image;
    background: $image, -webkit-gradient(linear, left top, left bottom, from($start), to($stop));
    background: $image, -moz-linear-gradient(center top, $start 0%, $stop 100%);
    background: $image, -moz-gradient(center top, $start 0%, $stop 100%);
}

// Page
html, body {
    background: #F5F2F3 url('/media/images/bg.gif') top left repeat;
}
body {
    color: #666;
    font: normal 14px/16px $Helvetica;
    text-rendering: optimizeLegibility;

    li {
        line-height: normal;
    }
}

// Utils
.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.hidden {
    display: none;
}

// Global
header.main {
    background: #12343D url('/media/images/header-bg.gif') top left repeat-x;
    border-bottom: 1px solid #DDDDDD;
    height: 66px;
    position: relative;
    z-index: 50;

    div.inner {
        border-left: 1px solid rgba(229, 229, 229, .25);
        height: 65px;
        margin: 0 auto;
        position: relative;
        width: 939px;

        div.shadey {
            background: transparent url('/media/images/header-inner-bg.png') top left no-repeat;
            height: 65px;
            left: -157px;
            position: absolute;
            top: 0;
            width: 432px;
            z-index: 49;
        }
        h1 {
            float: left;
            position: relative;
            z-index: 50;
            
            a {
                background: transparent url('/media/images/logo.png') top left no-repeat;
                display: block;
                float: left;
                height: 35px;
                margin: 16px 0 0 16px;
                text-indent: -1000em;
                width: 87px;

                &:focus {
                    outline: none;
                }
            }
        }
        form.search {
            float: left;
            padding: 17px 0 0 20px;
            position: relative;
            z-index: 50;
            
            div.infield {
                position: relative;

                label {
                    color: #72979C;
                    cursor: text;
                    float: none;
                    font: normal 12px $Helvetica;
                    left: 30px;
                    position: absolute;
                    top: 8px;
                    width: auto;
                }
                input {
                    background: #17484F url('/media/images/search-icon.png') top left no-repeat;
                    background: rgba(43, 82, 93, .5) url('/media/images/search-icon.png') 8px center no-repeat;
                    border: 1px solid #3A5E67;
                    color: #FFF;
                    font: normal 12px $Helvetica;
                    height: auto;
                    margin: 0;
                    padding: 7px;
                    text-indent: 21px;
                    width: 175px;
                    @include border-radius(3px);
                    @include inset-box-shadow(0, 1px, 0px, #1D4249);

                    &:focus {
                        border-color: #62D5E1;
                    }
                }
            }
        }
        nav.public {
            float: left;

            ul {
                margin: 0;
                padding: 17px 0 0 20px;

                li {
                    display: block;
                    float: left;

                    a {
                        border-bottom: 2px solid transparent;
                        color: #FFF;
                        display: block;
                        float: left;
                        font: 500 14px $Helvetica;
                        padding: 7px;
                        padding-bottom: 4px;
                        margin-right: 20px;
                        text-decoration: none;
                        -webkit-transition: border .08s linear;
                        -moz-transition: border .08s linear;
                        -o-transition: border .08s linear;
                        transition: border .08s linear;

                        &:hover {
                            border-bottom: 2px solid #3A5E67;
                        }
                        &.active {
                            border-bottom: 2px solid #85D2DD;
                        }
                    }
                }
            }
        }
        aside.nav {
            border-left: 1px solid rgba(229, 229, 229, .25);
            float: right;
            height: 65px;
            margin: 0;
            width: 189px;
        }
    }
}
header.sub {
    @include vertical-gradient(#ECECEC, #DBDBDB);

    div.inner {
        border-left: 1px solid #d0d0d0;
        margin: 0 auto;
        position: relative;
        width: 939px;
        z-index: 49;

        ul.bcrumb {
            border-right: 1px solid #d0d0d0;
            float: left;
            margin: 0;
            padding-left: 16px;
            width: 733px;

            li {
                display: inline-block;
                max-width: 490px;
                line-height: normal;
                overflow: hidden;
                padding: 2px 0 4px 0;
                text-overflow: ellipsis;
                white-space: nowrap;

                a {
                    color: #999999;
                    font: bold 12px $Consolas;
                    text-decoration: none;
                    text-shadow: 0 1px 0 #FFF;

                    &:hover {
                        text-decoration: underline;
                    }
                }
                &.prompt {
                    color: #999999;
                    font: bold 12px $Consolas;
                    margin-right: 3px;
                    text-shadow: 0 1px 0 #FFF;
                }
            }
        }
        div.shortcuts {
            color: #999999;
            float: right;
            font: bold 12px $Consolas;
            padding-top: 4px;
            text-shadow: 0 1px 0 #FFF;
        }
    }
}
section.main {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 940px;

    div.ruler {
        background: #DDDDDD;
        height: 100%;
        position: fixed;
        top: 0;
        width: 1px;
        z-index: 48;
    }
    div.left-y {
        margin-left: 0;
    }
    div.right-y {
        margin-left: 750px;
    }
    div.inner {
        float: left;
        margin-left: 1px;
        width: 749px;
    }
    aside.main {
        float: right;
        padding-top: 30px;
        width: 190px;

        section.ad {
            margin-bottom: 28px;

            div.asset {
                background: #FFF;
                border: 1px solid #DDDDDD;
                margin: 0 15px 6px;
                padding: 15px 14px;
                width: 130px;
                @include border-radius(4px);

                a {
                    color: #939393;
                    display: block;
                    font: normal 11px/12px $Helvetica;
                    text-decoration: none;

                    img {
                        display: block;
                        margin-bottom: 10px;
                    }
                    &:hover {
                        color: #666;
                        text-decoration: none;
                    }
                }
            }
            div.meta {
                color: #939393;
                font: normal 11px/12px $Helvetica;
                margin: 0 15px;
                text-align: center;
                text-transform: uppercase;

                a {
                    color: #CCC;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        section.tags {
            margin: 0 15px 45px 15px;

            h1 {
                background: transparent url('/media/images/tags-icon.png') 0 0 no-repeat;
                color: #3BAAF3;
                font: bold 12px $Helvetica;
                padding-bottom: 5px;
                padding-left: 22px;
            }
            ul {
                margin: 0 0 15px 0;

                li {
                    list-style-type: none;
                    margin: 6px 0 6px 22px;
                }
            }
            a {
                border-bottom: 1px solid #5AB6F4;
                color: #5AB6F4;
                font: normal 12px $Helvetica;
                text-decoration: none;

                &:hover {
                    border-bottom: 1px solid #2B6E9B;
                    color: #2B6E9B;
                }
                &.view-all {
                    font-weight: bold;
                    margin: 0 0 0 22px;
                }
                &.active {
                    border-bottom: 1px solid #2B6E9B;
                    color: #2B6E9B;
                }
            }
        }
        nav.footer {
            margin: 45px 15px 32px;

            ul {
                margin: 0;

                li {
                    background: transparent url('/media/images/api-icon.png') center left no-repeat;
                    list-style-type: none;
                    margin: 6px 0 6px 0;
                    padding-left: 22px;

                    a {
                        border-bottom: 1px solid #999;
                        color: #999;
                        font: bold 12px $Helvetica;
                        text-decoration: none;

                        &:hover {
                            border-bottom: 1px solid #333;
                            color: #333;
                        }
                    }
                    &.twitter {
                        background: transparent url('/media/images/twitter-icon.png') 4px center no-repeat;
                    }
                    &.pro {
                        background: transparent url('/media/images/upgrade-icon.png') 2px center no-repeat;
                    }
                    &.groups {
                        background: transparent url('/media/images/groups-icon.png') 2px center no-repeat;
                    }
                }
            }
        }
    }
}
section.main-edit {
    div.inner {
        float: none;
        width: 100%;
    }
}
article.snipt {
    margin: 30px 0;
    position: relative;

    div.number {
        color: #CCC;
        font: normal 12px $Helvetica;
        left: -115px;
        position: absolute;
        text-align: right;
        top: 4px;
        width: 100px;
    }
    div.container {
        background: #FFF;
        border: 1px solid #DDD;
        border-left: 0;
        float: left;
        position: relative;
        width: 618px;

        div.ruler {
            background: #DDD;
            height: 1px;
            left: -3000px;
            position: absolute;
            top: auto;
            width: 3000px;
        }
        div.top-x {
            top: -1px;
        }
        div.bottom-x {
            bottom: -1px;
        }
        header {
            border-bottom: 1px solid #F1F1EE;
            @include inset-box-shadow(0, -1px, 0, #FFF);
            @include vertical-gradient(#FFF, #FFFAF2);

            h1 {
                clear: left;
                font: bold 16px/20px $Helvetica;
                margin: 8px 15px 10px 15px;

                a {
                    color: #666;
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-decoration: none;
                    white-space: nowrap;
                    -webkit-transition: color .08s linear;
                    -moz-transition: color .08s linear;
                    -o-transition: color .08s linear;
                    transition: color .08s linear;

                    &:hover {
                        color: #3BAAF3;
                    }
                }
            }
            h2 {
                border: 1px solid #E9E9E9;
                border-top: 0;
                color: #73BBC5;
                display: inline-block;
                font: normal 12px $Helvetica;
                margin-left: 15px;
                padding: 3px 8px 2px 8px;
            }
        }
        section.code {
            height: 200px;
            overflow: hidden;
            position: relative;
            z-index: 51;

            div.highlight {
                pre {
                    background: transparent;
                    border: none;
                    font: normal 12px/16px $Consolas;
                    font-weight: normal !important;
                    overflow-x: auto;
                    margin: 0 15px;
                    min-height: 173px;
                    padding: 13px 0;
                }
            }
            a.expand {
                background: #FFF url('/media/images/expand.png') 15px 18px no-repeat;
                border-top: 1px solid #F1F1EE;
                bottom: 0;
                color: #999999;
                display: block;
                font: bold 12px $Helvetica;
                padding: 15px 40px 15px 40px;
                position: absolute;
                text-decoration: none;
                text-transform: uppercase;
                width: 100%;
                @include box-shadow(0, -25px, 25px, #FFF);

                span.collapse {
                    display: none;
                }
                span.lines {
                    font: normal 10px $Helvetica;
                    margin-left: 5px;
                    vertical-align: 1px;
                }
                &:hover {
                    color: #3BAAF3;
                    font-weight: bold;
                }
                &:focus {
                    outline: none;
                }
            }
            div.raw {
                display: none;
            }
        }
        section.emacs, section.default {
            a.expand {
                @include box-shadow(0, -25px, 25px, #F8F8F8);
            }
        }
        section.friendly {
            a.expand {
                @include box-shadow(0, -25px, 25px, #F0F0F0);
            }
        }
        section.fruity {
            a.expand {
                @include box-shadow(0, -25px, 25px, #111111);
            }
        }
        section.manni {
            a.expand {
                @include box-shadow(0, -25px, 25px, #F0F3F3);
            }
        }
        section.monokai {
            a.expand {
                @include box-shadow(0, -25px, 25px, #272822);
            }
        }
        section.native {
            a.expand {
                @include box-shadow(0, -25px, 25px, #202020);
            }
        }
        section.perldoc {
            a.expand {
                @include box-shadow(0, -25px, 25px, #EEEEDD);
            }
        }
        section.tango {
            a.expand {
                @include box-shadow(0, -25px, 25px, #F8F8F8);
            }
        }
        &:after {
            bottom: 8px;
            content: "";
            height: 20px;
            position: absolute;
            right: 3px;
            width: 50%;
            z-index: 48;
            @include box-shadow(0, 6px, 12px, rgba(184, 184, 184, .6));
            -webkit-transform: rotate(3deg);
            -moz-transform: rotate(3deg);
            -o-transform: rotate(3deg);
            transform: rotate(3deg);
        }
    }
    aside {
        float: right;
        margin: 23px 30px 0 0;
        width: 100px;

        ul.options {
            margin: 0;

            li {
                list-style-type: none;
                margin: 2px 0;

                a {
                    background: rgba(128, 128, 128, .15) url('/media/images/edit-icon.png') 14px center no-repeat;
                    color: #000;
                    display: block;
                    font: bold 12px $Helvetica;
                    opacity: .5;
                    padding: 7px 10px 7px 35px;
                    position: relative;
                    text-decoration: none;

                    &:hover, &.hover {
                        background-color: rgba(128, 128, 128, .18);
                        opacity: 1;
                        text-decoration: none;
                    }
                    &.edit {
                        &:after {
                            background: #F5F2F3 url('/media/images/bg.gif') top left repeat;
                            content: "";
                            height: 20px;
                            position: absolute;
                            right: 5px;
                            top: -3px;
                            width: 3px;
                            -webkit-transform: rotate(-45deg);
                            -moz-transform: rotate(-45deg);
                        }
                    }
                    &.embed {
                        background-image: url('/media/images/embed-icon.png');
                    }
                    &.copy {
                        background-image: url('/media/images/copy-icon.png');

                        span.done {
                            display: none;
                        }
                    }
                }
            }
        }
        section.tags {
            padding-top: 15px;

            h2 {
                background: transparent url('/media/images/snipt-tags-icon.png') 15px center no-repeat;
                color: #999999;
                font: bold 12px $Helvetica;
                padding: 7px 0 7px 35px;
            }
            ul {
                margin: 0;

                li {
                    list-style-type: none;
                    margin: 5px 10px 5px 35px;

                    a {
                        border-bottom: 1px solid #999;
                        color: #999;
                        display: inline-block;
                        font: normal 12px $Helvetica;
                        max-width: 72px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        text-decoration: none;
                        white-space: nowrap;

                        &:hover {
                            border-color: #000;
                            color: #000;
                        }
                    }
                }
                &.expanded {
                    li {
                        display: block;
                    }
                }
            }
        }
    }
    footer {
        clear: both;
        padding-bottom: 20px;

        ul.attrs {
            margin: 15px 0 0 15px;

            li {
                background: transparent url('/media/images/calendar-icon.png') top left no-repeat;
                color: #999;
                display: inline;
                font: normal 12px $Helvetica;
                margin-right: 15px;
                padding: 1px 0 0 24px;

                a {
                    color: #999;
                    font: normal 12px $Helvetica;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
                &.author {
                    background: transparent url('/media/images/author-icon.png') 0 1px no-repeat;
                }
                &.comments {
                    background: transparent url('/media/images/comments-icon.png') 0 2px no-repeat;
                }
            }
        }
    }
    div.expanded {
        section.code {
            height: auto;

            div.highlight {
                pre {
                    padding-bottom: 60px;
                }
            }
            a.expand {
                background-image: url('/media/images/collapse.png');
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;

                span.expand {
                    display: none;
                }
                span.collapse {
                    display: inline;
                }
                span.lines {
                    display: none;
                }
            }
        }
    }
    &.selected {
        div.container {
            -webkit-box-shadow: 0 0 20px #85D2DD;
            -moz-box-shadow: 0 0 20px #85D2DD;
            box-shadow: 0 0 20px #85D2DD;

            &:after {
                display: none;
            }
        }
    }
    div.copy-modal {
        textarea {
            height: 200px;
            margin: 0;
            width: 520px;
        }
    }
}
article.private-snipt {
    div.container {
        header {
            @include vertical-gradient-with-image(url('/media/images/private-icon.png') top right no-repeat, #FFF, #FFFAF2);

            h1 {
                a {
                    padding-right: 25px;
                }
            }
        }
    }
}
div.pagination {
    margin: 0 15px 35px 15px;
    text-align: center;

    ul {
        background: #FFF;
        
        li {
            a {
                color: #3BAAF3;
            }
        }
    }
}
div.modal {
    .modal-header {
        .close {
            line-height: 20px;
            margin-top: 0;
        }
        h3 {
            span {
                display: inline-block;
                max-width: 400px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        h4 {
            color: #AAA;
            margin-top: 1px;
        }
    }
}
div#keyboard-shortcuts {
    max-height: 617px;
    top: 43%;

    table {
        margin-bottom: 0;
    }
}

// Pages
body.detail {
    div.right-y {
        display: none;
    }
    section.main {
        div.inner {
            width: 100%;

            section.snipts {
                div#disqus_thread {
                    margin-bottom: 0;
                    margin-left: 15px;
                    width: 825px;

                    #dsq-content {
                        margin-top: -38px;

                        #dsq-global-toolbar {
                            margin-bottom: 18px;
                            margin-top: 0;
                        }
                        #dsq-sort-by {
                            display: none;
                        }
                        .dsq-comment-text {
                            color: #666;
                        }
                        h3 {
                            display: none;
                        }
                        .dsq-textarea-wrapper {
                            overflow: hidden;
                        }
                    }
                    #dsq-footer {
                        display: none;
                    }
                }
                article.snipt {
                    margin-bottom: 0;

                    div.container {
                        width: 839px;

                        header {
                            h1 {
                                a {
                                    white-space: normal;
                                }
                            }
                        }
                        section.code {
                            height: auto;
                        }
                        &:after {
                            bottom: 11px;
                            height: 23px;
                        }
                    }
                    aside {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
body.static {
    .static-box {
        background: rgba(#FFF, .65);
        border: 1px solid #DDDDDD;
        margin: 20px;
        padding: 20px;
        @include border-radius(4px);

        div.form-actions {
            margin-bottom: 0;
            padding-bottom: 0;
            @include vertical-gradient(#F5F5F5, #FBFBFB);

            a.pull-right {
                margin-left: 5px;
            }
        }
        div.alert {
            ul {
                margin: 0;

                li {
                    list-style-type: none;
                }
            }
        }
        div.alert-info {
            a {
                color: #3A87AD;
                text-decoration: underline;
            }
        }
    }
    aside.main {
        padding-top: 20px;
    }
    div.alert-alone {
        margin: 0;
    }
    form.form-horizontal {
        legend + .control-group {
            margin-top: 0;
        }
        div.form-actions {
            margin-top: 27px;
        }
        fieldset {
            padding-top: 27px;

            legend {
                margin: 0;
            }
        }
    }
}
