{% extends "base.html" %}

{% block page-title %}Request beta access to Snipt for Teams{% endblock %}

{% block body-class %}{{ block.super }} static signup pro pro-signup{% endblock %}

{% block breadcrumb %}
  <li><a href="/for-teams/">Snipt for Teams</a></li>
{% endblock %}

{% block content %}
  <form class="form-horizontal static-box" id="pro-signup" method="post" action="/for-teams/complete/">
    <fieldset>
      <div class="info">
        Snipt for Teams
        <ul class="features">
          <li>Team profile at snipt.net/{team-name}.</li>
          <li>Members can create public or private snipts on a team.</li>
          <li>Public team posts are public to the world, as they are now.</li>
          <li>Private team posts are editable by all team members.</li>
          <li>Plans from $49/month, all with a 7-day free trial.</li>
        </ul>
      </div>
      <div class="control-group">
        <label class="control-label" for="name">Team username:</label>
        <div class="controls">
          <input maxlength="30" required type="text" class="input-xlarge" name="name" id="name" />
          <p class="sub" style="margin-top: 3px; color: #999999;">
            Maximum of 30 characters.
          </p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="name">Team email:</label>
        <div class="controls">
          <input required type="text" class="input-xlarge" name="email" id="email" />
          <p class="sub" style="margin-top: 3px; color: #999999;">
            For billing and your team's Gravatar. Will remain private.
          </p>
        </div>
      </div>
      <div class="control-group">
        <div class="form-actions">
          {% csrf_token %}
          <button type="submit" class="btn btn-success">Create team &raquo;</button>
        </div>
      </fieldset>
    </form>
{% endblock %}

{% block analytics %}
  {% if not debug %}
    window.ll('tagScreen', 'Team beta signup view');
  {% endif %}
{% endblock %}
