{% extends "base.html" %}

{% block page-title %}Team Members{% endblock %}

{% block body-class %}account {{ block.super }}{% endblock %}

{% block breadcrumb %}
  <li><a href="/{{ team.user.username }}/">{{ team.user.username }}</a></li>
  <span class="prompt">/</span> <li><a href="/{{ team.user.username }}/members/">Members</a></li>
{% endblock %}

{% block content %}
  <div ng-controller="TeamController" class="team-controller">
    <section class="snipts" id="snipts"></section>
    <section class="profile group">
      <aside>
        <ul class="nav nav-list ng-cloak" ng-cloak>
          <li class="nav-header">Team: {{ team.name }}</li>
          <li>
            <a href="/{{ team.slug }}/">Profile</a>
          </li>
          <li class="active">
            <a href="/{{ team.slug }}/members/">Members</a>
          </li>
          <li>
            <a href="/{{ team.slug }}/billing/">Billing</a>
          </li>
        </ul>
      </aside>
      <section class="content">
        <div class="def" data-title="Owner">
          {{ team.owner }}
        </div>
        <div class="def add-member" data-title="Add member">
          <input
            ng-model="search"
            placeholder="Search users..."
            type="search"
            value=""
          />
          <ul ng-cloak ng-if="members.length">
            <li ng-repeat="member in members">{[{ member.username }]}</li>
          </ul>
        </div>
        <div class="def" data-title="Members ({{ team.members.all|length }} of {{ team.member_limit }})">
          <ul style="margin-bottom: 0">
            {% for member in team.members.all %}
              <li>{{ member }}</li>
            {% endfor %}
          </ul>
        </div>
      </section>
    </section>
  </div>
{% endblock %}

{% block analytics %}
  {% if not debug %}
    window.ll('tagScreen', 'Team members view');
  {% endif %}
{% endblock %}
