body.blog-site article.snipt div.group div.container {
  width: 708px;
}
body.blog-site article.snipt div.group div.container header {
  min-height: 0;
}
body.blog-site article.snipt div.group div.container header h1 {
  margin: 11px 15px;
}
body.blog-site section.main div.ruler {
  z-index: 50;
}
body.blog-site section.main aside.main nav.footer ul.powered {
  border-top: 1px solid #DDDDDD;
  padding-top: 20px;
}
body.blog-site section.main aside.main nav.footer ul.powered li {
  background: transparent url("/static/images/favicon.png") center left no-repeat;
}
body.blog-site section.main aside.main nav.footer ul.powered li a {
  border: none;
  color: #3E6B73;
  font-style: italic;
}
body.blog-site section.main aside.main nav.footer ul.powered li a:hover {
  border-bottom: 1px solid #333;
  color: #333;
}
body.blog-site section.main aside.main nav.footer.with-sidebar {
  margin-top: 20px;
}
body.blog-site section.main aside.main section.sidebar {
  margin-left: 15px;
}
body.blog-site section.main aside.main section.sidebar p {
  line-height: 16px;
  margin-bottom: 15px;
}
body.blog-site section.main aside.main section.sidebar a:hover {
  text-decoration: none;
}
body.blog-site header.main {
  background: transparent url("/static/images/blog-header-bg.png") top left repeat;
  height: auto;
}
body.blog-site header.main div.inner {
  height: auto;
}
body.blog-site header.main div.inner h1 {
  float: none;
  position: static;
}
body.blog-site header.main div.inner h1 a {
  background: none;
  border-bottom: 2px solid transparent;
  color: #2A535C;
  font: normal 30px "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  height: auto;
  letter-spacing: -1px;
  line-height: 30px;
  margin: 17px 0 17px 16px;
  text-decoration: none;
  text-indent: 0;
  width: auto;
  -webkit-transition: border .08s linear;
  -moz-transition: border .08s linear;
  -o-transition: border .08s linear;
  transition: border .08s linear;
}
body.blog-site header.main div.inner h1 a:hover {
  border-bottom: 2px solid #3A5E67;
}
body.blog-site header.sub div.inner {
  z-index: 51;
}

body.blog-detail section.main div.inner section.snipts article.snipt div.container {
  width: 939px;
}
body.blog-detail div#disqus_thread {
  width: 925px;
}
body.blog-detail header.sub div.inner ul.bcrumb {
  width: 923px;
}
