{% extends "base.html" %}

{% block page-title %}/ {{ snipt.title }} / {{ user.username }} - {{ block.super }}{% endblock %}
{% block body-class %}detail{% endblock %}

{% block js %}
        {{ block.super }}
        window.detail = true;
{% endblock %}

{% block breadcrumb %}
    <li><a href="/{{ user.username }}/">{{ user.username }}</a></li>
    <li>/ <a href="{{ snipt.get_absolute_url }}">{{ snipt.title }}</a></li>
{% endblock %}

{% block aside %}{% endblock %}

{% block content %}
    <section class="snipts" id="snipts">
        {% with 'true' as detail %}
            {% include "snipts/snipt-list.html" %}
        {% endwith %}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'snipt-net';
            {% if debug %}
                var disqus_developer = 1;
            {% endif %}
            var disqus_url = '{{ snipt.get_full_absolute_url }}';
            var disqus_title = '{{ snipt.title }}';
            var disqus_identifier = {{ snipt.id }};

            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
    </section>
{% endblock %}
