{% extends "base.html" %}

{% load pagination_tags %}

{% block page-title %}/ public{% if tag %} / {{ tag }}{% endif %} - {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <li><a href="/public/">public</a></li>
    {% if tag %}
        <li>/ <a href="/public/tag/{{ tag }}/">{{ tag }}</a></li>
    {% endif %}
{% endblock %}

{% block tags %}
    {% include "snipts/tags-public.html" %}
{% endblock %}

{% block content %}
    <section class="snipts" id="snipts">
        {% with public='true' %}
            {% autopaginate snipts 20 %}
            {% for snipt in snipts %}
                {% include "snipts/snipt-list.html" %}
            {% endfor %}
            {% paginate %}
        {% endwith %}
    </section>
{% endblock %}
