{% extends "base.html" %}

{% load pagination_tags %}

{% block page-title %}/ {% if public %}public{% else %}{{ user.username }}{% endif %}{% if tag %} / {{ tag }}{% endif %} - {{ block.super }}{% endblock %}

{% block js %}
        {{ block.super }}
        window.detail = false;
{% endblock %}

{% block content %}
    <section class="snipts" id="snipts">
        {% autopaginate snipts 20 %}
        {% for snipt in snipts %}
            {% include "snipts/snipt-list.html" %}
        {% endfor %}
        {% paginate %}
    </section>
    <script type="text/javascript" id="disqus">
        var disqus_shortname = 'snipt-net';
        {% if debug %}
            var disqus_developer = 1;
        {% endif %}

        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
    <script type="text/html" id="disqus-template">
        var disqus_shortname = 'snipt-net';
        {% if debug %}
            var disqus_developer = 1;
        {% endif %}

        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
{% endblock %}
