{% extends "base.html" %}

{% load pagination_tags %}

{% block page-title %}/ {{ user.username }}{% if tag %} / {{ tag }}{% endif %} - {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <li><a href="/{{ user.username }}/">{{ user.username }}</a></li>
    {% if tag %}
        <li>/ <a href="/{{ user.username }}/tag/{{ tag }}/">{{ tag }}</a></li>
    {% endif %}
{% endblock %}

{% block tags %}
    {% include "snipts/tags-user.html" %}
{% endblock %}

{% block content %}
    <section class="snipts" id="snipts">
        {% autopaginate snipts 20 %}
        {% for snipt in snipts %}
            {% include "snipts/snipt-list.html" %}
        {% endfor %}
        {% paginate %}
    </section>
{% endblock %}
