{% if is_paginated %}
{% load i18n %}
<div class="pagination">
    <ul>
        {% if page_obj.has_previous %}
            <li class="prev">
                <a rel="noindex, follow" id="prev-page" href="?page={{ page_obj.previous_page_number }}{{ getvars }}">&larr;</a>
            </li>
        {% else %}
            <li class="disabled prev">
                <a rel="noindex, follow" href="#">&larr;</a>
            </li>
        {% endif %}
        {% for page in pages %}
            {% if page %}
                {% ifequal page page_obj.number %}
                    <li class="active">
                        <a rel="noindex, follow" href="#">{{ page }}</a>
                    </li>
                {% else %}
                    <li>
                        <a rel="noindex, follow" href="?page={{ page }}{{ getvars }}">{{ page }}</a>
                    </li>
                {% endifequal %}
            {% else %}
                <li class="disabled">
                    <a rel="noindex, follow" href="#">&hellip;</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="next">
                <a rel="noindex, follow" id="next-page" href="?page={{ page_obj.next_page_number }}{{ getvars }}">&rarr;</a>
            </li>
        {% else %}
            <li class="disabled next">
                <a rel="noindex, follow" href="#">&rarr;</a>
            </li>
        {% endif %}
    </ul>
</div>
{% endif %}
