{% extends "base.html" %}

{% block page-title %}/ Account - {{ block.super }}{% endblock %}

{% block body-class %}{{ block.super }} static account{% endblock %}

{% block breadcrumb %}
    <li><a href="/account/">Account</a></li>
{% endblock %}

{% block content %}
    <section class="profile group">
        <aside>
            <ul class="nav nav-list">
                <li class="nav-header">Account</li>
                <li class="active">
                    <a href="">Profile</a>
                </li>
                <li>
                    <a href="">Change Password</a>
                </li>
                <li>
                    <a href="">Billing</a>
                </li>
                <li class="nav-header">Pro</li>
                <li>
                    <a href="">Blog settings</a>
                </li>
                <li>
                    <a href="">Editor settings</a>
                </li>
            </ul>
        </aside>
        <section class="content">
            Content
        </section>
    </section>
{% endblock %}
