{% extends "base.html" %}

{% block page-title %}/ Account - {{ block.super }}{% endblock %}

{% block body-class %}{{ block.super }} static account{% endblock %}

{% block breadcrumb %}
    <li><a href="/account/">Account</a></li>
{% endblock %}

{% block content %}
    <div class="static-box">
        <h2>Account</h2>
        {% if messages %}
            {% for message in messages %}
                <p class="alert alert-{{ message.tags }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
        <ul>
            <li>Username: {{ request.user.username }}</li>
            <li><a href="/api/">API</a> key: {{ request.user.api_key.key }}</li>
            <li><a href="/api/">API</a> user ID: {{ request.user.id }}</li>
            <li><a href="/password/change/">Change password</a></li>
        </ul>
        {% if request.user.profile.is_pro %}
            <form class="form-horizontal" action="/account/" method="post">
                <legend>Edit Pro settings</legend>
                <div class="control-group">
                    <label class="control-label" for="id_blog_title">Blog title:</label>
                    <div class="controls">
                        {{ form.blog_title }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="id_blog_theme">Blog theme:</label>
                    <div class="controls">
                        {{ form.blog_theme }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="id_blog_domain">Blog domain:</label>
                    <div class="controls">
                        {{ form.blog_domain }}
                        <span class="help-block">Like 'snipt.nicksergeant.com' or 'nicksergeant.com' (without quotes). Set your CNAME / A-record to point to 96.126.110.160</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="id_default_editor">Default editor:</label>
                    <div class="controls">
                        {{ form.default_editor }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="id_editor_theme">Default editor theme:</label>
                    <div class="controls">
                        {{ form.editor_theme }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="id_gittip_username">Gittip username:</label>
                    <div class="controls">
                        {{ form.gittip_username }}
                        <span class="help-block">Your <a href="https://www.gittip.com/">Gittip</a> username, if you have one.</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="id_disqus_shortname">Disqus shortname:</label>
                    <div class="controls">
                        {{ form.disqus_shortname }}
                        <span class="help-block">If you have your own <a href="http://disqus.com/">Disqus</a> account that you'd like to use for your blog comments, enter your shortname here.</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="id_google_analytics_tracking_id">Google Analytics tracking ID:</label>
                    <div class="controls">
                        {{ form.google_analytics_tracking_id }}
                        <span class="help-block">If you'd like to track visits to your blog site with <a href="http://analytics.google.com">Google Analytics</a>, enter your tracking ID here.</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="id_gauges_site_id">Gauges site ID:</label>
                    <div class="controls">
                        {{ form.id_gauges_site_id }}
                        <span class="help-block">If you'd like to track visits to your blog site with <a href="http://get.gaug.es/">Gauges</a>, enter your site ID here.</span>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
                {% csrf_token %}
            </form>
        {% endif %}
    </div>
{% endblock %}
