{% load static %}

{% extends "base.html" %}

{% block page-title %}Activate account{% endblock %}

{% block body-class %}{{ block.super }} static signup pro pro-signup{% endblock %}

{% block breadcrumb %}
  <li><a href="/account/activate/">Activate</a></li>
{% endblock %}

{% block content %}
  {% if request.GET.declined %}
    <div class="alert alert-error" style="margin: 30px;">
      <strong>{{ request.GET.declined }}</strong> You have not been charged. Please try again.
    </div>
  {% endif %}
  <form class="form-horizontal static-box" id="pro-signup" method="post" action="/account/activate/">
    <fieldset>
      <div class="info">
        Activate for a one-time fee of <span>$5</span>.<br />
        <small style="font-size: 14px; color: #C0C0C0;">Fully refundable within 3 days of signup. All ads removed for paid accounts.</small>
      </div>
      <div class="payment-form">
        <div class="payment-errors alert alert-error"></div>
        <script
          src="https://checkout.stripe.com/checkout.js"
          class="stripe-button"
          data-email="{{ request.user.email }}"
          data-key="{% if debug %}pk_test_cgknmaWRMQeJt2adEdvH3T9l{% else %}pk_live_gUO2nCl7dhx6j0posz6gnbhA{% endif %}"
          data-image="{{ STATIC_URL }}img/avatar.png"
          data-name="Snipt"
          data-description="Full Snipt.net Account ($5.00)"
          data-amount="500">
        </script>
        {% csrf_token %}
      </div>
      <div class="form-actions" style="color: #A2A2A2;">
        Prefer to pay with PayPal? Email <a href="mailto:support@snipt.net">support@snipt.net</a>.
      </div>
    </fieldset>
  </form>
{% endblock %}
