{% load snipt_tags %}

<!DOCTYPE html>
<html lang="en" class="{% block html-class %}{% endblock %}">
<head>

    <title>{% block page-title %}{% if blog_user.username == 'nick' %}// Nick Sergeant {% elif blog_user.username == 'blog' %}// Snipt Blog{% else %}// {{ blog_user.username }}{% endif %}{% endblock %}</title>
    <meta charset="utf-8" />
    {% if 'page' in request.GET %}
        <meta name="robots" content="noindex, follow" />
    {% endif %}

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/pro.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/pro.css?1" />

    {% if has_snipts and not detail %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ request.path }}?rss{% if not public %}&api_key={{ request.user.api_key.key }}{% endif %}" />
    {% endif %}

    <!--[if IE]>
        <style type="text/css">
            .group {
                display: block;
                zoom: 1;
            }
        </style>
    <![endif]-->

    <!--[if lt IE 9]>
        <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="{% block body-class %}{% endblock %}">

    <div class="frame">
        <div class="left-y ruler"></div>
        <div class="right-y ruler"></div>
        {% block header %}
            <header class="main">
                <a href="/" class="logo">
                    <span class="avatar" style="background-image: url('https://secure.gravatar.com/avatar/{{ blog_user.email|md5 }}?s=80');"></span>
                </a>
                <div class="bio">
                    <a class="name" href="/">
                        {% if blog_user.username == 'nick' %}
                            Nick Sergeant
                        {% elif blog_user.username == 'blog' %}
                            Snipt Blog
                        {% else %}
                            {{ blog_user.username }}
                        {% endif %}
                    </a>
                    <p>
                        I'm a front-end web developer in Rochester, NY working on the <a href="http://amara.org/">Amara</a> project for <a href="http://pculture.org/">PCF</a>. I also built <a href="https://snipt.net/">Snipt</a>.
                    </p>
                </div>
            </header>
        {% endblock %}
        <section class="main group">
            <section class="content group">
                {% block content %}{% endblock %}
            </section>
            <aside class="main">
                <section class="module projects">
                    <h1>Notable projects</h1>
                    <ul>
                        <li><a href="https://snipt.net/">Snipt</a></li>
                        <li><a href="http://amara.org">Amara</a></li>
                        <li><a href="http://sidepros.com/">SidePros</a></li>
                        <li><a href="http://afeedapart.com/">A Feed Apart</a></li>
                        <li><a href="http://rochestermade.com">Rochester Made</a></li>
                        <li><a href="http://refreshroc.org/">Refresh Rochester</a></li>
                    </ul>
                </section>
                <section class="module places">
                    <h1>Elsewhere</h1>
                    <ul>
                        <li><a href="https://twitter.com/nicksergeant">Twitter</a></li>
                        <li><a href="https://github.com/nicksergeant">GitHub</a></li>
                        <li><a href="http://www.linkedin.com/in/nicksergeant">LinkedIn</a></li>
                    </ul>
                </section>
                <section class="module snipts">
                    <h1>Recent snipts</h1>
                    <ul>
                        {% for snipt in normal_snipts %}
                            <li><a href="{{ snipt.get_absolute_url }}">{{ snipt.title }}</a></li>
                        {% endfor %}
                    </ul>
                </section>
            </aside>
        </section>
    </div>

    {% if not debug %}
        <script type="text/javascript">
            var _gauges = _gauges || [];
            (function() {
                var t   = document.createElement('script');
                t.type  = 'text/javascript';
                t.async = true;
                t.id    = 'gauges-tracker';
                t.setAttribute('data-site-id', '4ed65ee7f5a1f530f1000001');
                t.src = '//secure.gaug.es/track.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(t, s);
            })();
        </script>
    {% endif %}

</body>
</html>
