{% load snipt_tags typogrify_tags %}

<article class="group {% if detail %}detail{% endif %}">
    <div class="gutter"></div>
    <div class="content-inner">
        <h1><a href="{{ snipt.get_full_absolute_url }}">{% firstof snipt.title|typogrify 'Untitled' %}</a></h1>
        <div class="post-content autumn">
            {% if snipt.lexer == 'markdown' %}
                <div class="markdown">
                    {{ snipt.stylized|safe }}
                </div>
            {% else %}
                {% if 'linenos' not in snipt.stylized %}
                    <table class="highlighttable fakenos">
                        <tbody>
                            <tr>
                                <td class="linenos">
                                    <div class="linenodiv">
                                        <pre>
                                            {% generate_line_numbers for snipt.line_count %}
                                        </pre>
                                    </div>
                                </td>
                                <td class="code">
                                    {{ snipt.stylized|safe }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                {% else %}
                    {{ snipt.stylized|safe }}
                {% endif %}
            {% endif %}
            {% if detail %}
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    var disqus_shortname = 'snipt-net';
                    {% if debug %}
                        var disqus_developer = 1;
                    {% endif %}
                    var disqus_url = '{{ snipt.get_full_absolute_url }}{% if not snipt.public %}?key={{ snipt.key }}{% endif %}';
                    var disqus_title = '{{ snipt.title }}';
                    var disqus_identifier = {{ snipt.id }};
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
            {% endif %}
        </div>
    </div>
</article>
