<div style="margin-left: 15px; margin-bottom: 30px;">
  <div style="background-color: white; border-radius: 5px; padding: 10px 10px 7px 10px; box-sizing: border-box;" class="ad-inner">
    <!-- BuySellAds Zone Code -->
    <div id="bsap_1305837" class="bsarocks bsap_b70f66b78b7f9318d905def548557dc9"></div>
    <!-- End BuySellAds Zone Code -->
  </div>
  <div style="background-color: white; border-radius: 5px; margin-top: 30px; padding: 10px; box-sizing: border-box;">
    <script type="text/javascript" src="https://d21djfthp4qopy.cloudfront.net/humanitybox.js"></script>
  </div>
</div>
