<li class="add-snipt">
  {% if request.user.is_active %}
    <button class="btn btn-info btn-large" id="add-snipt">
      Add {% if request.user.username == 'blog' %}Post{% else %}Snipt{% endif %}
      <i class="icon-search icon-plus icon-white"></i>
    </button>
  {% endif %}
  {% if request.user.profile.has_teams %}
    <ul class="add-snipt-teams">
      <li>
        <a href data-intended-user="{{ request.user.username }}">
          <i class="icon-user icon-white"></i>
          <span class="as">as</span>
          <span>{{ request.user.username }}</span>
        </a>
      </li>
      {% for team in request.user.profile.teams|dictsort:'name' %}
        <li>
          <a href data-intended-user="{{ team.user.username }}">
            <i class="icon-user icon-white"></i>
            <span class="as">under</span>
            <span>{{ team.name }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</li>
