{% if not debug %}
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-514462-44']);
        _gaq.push(['_trackPageview']);

        {% if blog_user.profile.google_analytics_tracking_id %}
            _gaq.push(['b._setAccount', '{{ blog_user.profile.google_analytics_tracking_id }}']);
            _gaq.push(['b._trackPageview']);
        {% endif %}

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
{% endif %}
