<!DOCTYPE html>
<html lang="en" class="{% block html-class %}{% endblock %}">
<head>
    <title>{% block page-title %}Snipt{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="description" content="Long-term memory for coders. Share and store code snippets." />

    {% load compress %}

    {% compress css %}
        <link rel="stylesheet" href="/media/css/reset.css" />
        {% if not debug %}
            <link rel="stylesheet" href="/media/css/style.less" />
        {% endif %}
    {% endcompress %}
    {% if debug %}
        <link rel="stylesheet/less" href="/media/css/style.less" />
    {% endif %}

    {% compress js %}
        <script type="text/javascript" src="/media/js/jquery.js"></script>
        <script type="text/javascript" src="/media/js/jquery.infieldlabel.js"></script>
        <script type="text/javascript" src="/media/js/jquery.hotkeys.js"></script>
        <script type="text/javascript" src="/media/js/coffee-script.js"></script>
        <script type="text/coffeescript" src="/media/js/script.coffee"></script>
        {% if debug %}
            <script type="text/javascript" src="/media/js/less.js"></script>
        {% endif %}
    {% endcompress %}

    <!--[if IE]>
        <style type="text/css">
            .group {
                display: block;
                zoom: 1;
            }
        </style>
    <![endif]-->

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body class="{% block body-class %}{% endblock %}">

    <header>
        <div class="inner">
            <div class="shadey"></div>
            <h1><a href="/">Snipt</a></h1> 
            <form  class="search" action="/public/search/" method="get">
                <fieldset>
                    <div class="fields infield">
                        <label for="search-query">Search public snipts</label>
                        <input type="text" id="search-query" name="q" value="" />
                    </div>
                </fieldset>
            </form>
            <nav class="public">
                <ul>
                    <li>
                        <a href="/" class="active">Public snipts</a>
                    </li>
                    {% if not request.user.is_authenticated %}
                        <li>
                            <a href="/login/">Log in</a>
                        </li>
                        <li>
                            <a href="/signup/">Sign up</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            <aside class="nav"></aside>
        </div>
    </header>

    <section class="main group">
        <div class="inner">
            {% block content %}{% endblock %}
        </div>
        <div class="left-y ruler"></div>
        <div class="right-y ruler"></div>
        <aside class="main">
            <section class="ad">
                <div class="asset"></div>
                <div class="meta">
                    Ads by Carbon
                </div>
            </section>
            <section class="tags">
                <h1>Popular public tags</h1>
                <ul>
                    {% for tag in tags %}
                        <li>
                            <a href="{{ tag.data.absolute_url }}">{{ tag.data.name }} ({{ tag.data.count }})</a>
                        </li>
                    {% endfor %}
                </ul>
                <a href="/public/tags/" class="view-all">View all &raquo;</a>
            </section>
            <nav class="footer">
                <ul>
                    <li class="api">
                        <a href="/api/">API</a>
                    </li>
                    <li class="twitter">
                        <a href="https://twitter.com/#!/snipt">@snipt</a>
                    </li>
                    <li class="pro">
                        <a href="/pro/">Go Pro</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </section>

    {% if not debug %}
        <script type="text/javascript">
            //<![CDATA[
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-514462-44']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
            })();
            //]]>
        </script>
    {% endif %}

</body>
</html>
