{% extends "base.html" %}

{% block page-title %}Sign up for Snipt Pro{% endblock %}

{% block body-class %}{{ block.super }} static pro signup pro-signup pro-signup-complete{% endblock %}

{% block breadcrumb %}
    <li><a href="/for-teams/">For Teams</a></li>
    <li><span class="prompt">/</span> <a href="#">Complete</a></li>
{% endblock %}

{% block content %}
  <form class="form-horizontal static-box" id="pro-signup" method="post" action="/pro/complete/">
    <fieldset>
      <div class="info">
        You rock.
        <p class="sub" style="padding: 0 120px;">
          We'll email you to arrange the beta program payment of $49, and help you get your first team created!<br /><br />
          If you ever need anything at all, <a href="mailto:support@snipt.net">email support</a>, or use the chat in the bottom right.
        </p>
      </div>
    </fieldset>
  </form>
{% endblock %}

{% block analytics %}
  {% if not debug %}
    window.ll('tagScreen', 'Pro signup complete view');
  {% endif %}
{% endblock %}
