{% extends "base.html" %}

{% load pagination_tags %}

{% block page-title %}Snipt Jobs{% endblock %}

{% block body-class %}{{ block.super }} static jobs{% endblock %}

{% block breadcrumb %}
    <li><a href="/jobs/">Snipt Jobs</a></li>
{% endblock %}

{% block content %}
    <section class="jobs">
        <h4>New (7)</h4>
        <ul>
            <li>
                <a href="#" class="group">
                    <span class="left">
                        <span class="job">Visual Designer</span>
                        <span class="company">Acto A/S</span>
                    </span>
                    <span class="right">
                        <span class="location">Dallas, TX, USA</span>
                        <span class="date">Oct 15, 2012</span>
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="group">
                    <span class="left">
                        <span class="job">Visual Designer</span>
                        <span class="company">Acto A/S</span>
                    </span>
                    <span class="right">
                        <span class="location">Dallas, TX, USA</span>
                        <span class="date">Oct 15, 2012</span>
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="group">
                    <span class="left">
                        <span class="job">Visual Designer</span>
                        <span class="company">Acto A/S</span>
                    </span>
                    <span class="right">
                        <span class="location">Dallas, TX, USA</span>
                        <span class="date">Oct 15, 2012</span>
                    </span>
                </a>
            </li>
        </ul>
        <h4>Past week (27)</h4>
        <ul>
            <li>
                <a href="#" class="group">
                    <span class="left">
                        <span class="job">Visual Designer</span>
                        <span class="company">Acto A/S</span>
                    </span>
                    <span class="right">
                        <span class="location">Dallas, TX, USA</span>
                        <span class="date">Oct 15, 2012</span>
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="group">
                    <span class="left">
                        <span class="job">Visual Designer</span>
                        <span class="company">Acto A/S</span>
                    </span>
                    <span class="right">
                        <span class="location">Dallas, TX, USA</span>
                        <span class="date">Oct 15, 2012</span>
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="group">
                    <span class="left">
                        <span class="job">Visual Designer</span>
                        <span class="company">Acto A/S</span>
                    </span>
                    <span class="right">
                        <span class="location">Dallas, TX, USA</span>
                        <span class="date">Oct 15, 2012</span>
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="group">
                    <span class="left">
                        <span class="job">Visual Designer</span>
                        <span class="company">Acto A/S</span>
                    </span>
                    <span class="right">
                        <span class="location">Dallas, TX, USA</span>
                        <span class="date">Oct 15, 2012</span>
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="group">
                    <span class="left">
                        <span class="job">Visual Designer</span>
                        <span class="company">Acto A/S</span>
                    </span>
                    <span class="right">
                        <span class="location">Dallas, TX, USA</span>
                        <span class="date">Oct 15, 2012</span>
                    </span>
                </a>
            </li>
        </ul>
    </section>
{% endblock %}
