{% extends "base.html" %}

{% block page-title %}Sign up for Snipt Pro{% endblock %}

{% block body-class %}{{ block.super }} static pro pro-signup{% endblock %}

{% block breadcrumb %}
    <li><a href="/pro/">Snipt Pro</a></li>
    <li><span class="prompt">/</span> <a href="/pro/signup/">Sign up</a></li>
    <li><span class="prompt">/</span> <a href="#">Complete</a></li>
{% endblock %}

{% block content %}
    <div class="static-box">
        <h2>Snipt <span class="pro">Pro</span> members</h2>
        <p><strong>Congratulations!</strong> You're now a Snipt Pro.</p>
        <p>You should <a target="blank" href="http://twitter.com/intent/tweet?text=I'm now a @Snipt Pro. Are you? https://snipt.net/pro/">tell the world</a>. If you ever need anything at all, <a href="mailto:nick@snipt.net">email Nick</a> directly.</p>
        <p>Also, you rock. :)</p>
    </div>
{% endblock %}
