{% extends "base.html" %}

{% block page-title %}Snipt Pro{% endblock %}

{% block body-class %}{{ block.super }} static pro signup{% endblock %}

{% block breadcrumb %}
  <li><a href="/pro/">Snipt Pro</a></li>
{% endblock %}

{% block content %}
  <div class="info">
    Subscribe for only <span>$5/month</span>.
    <p class="sub">
      We believe the best way to build a superior product is to charge for it.
      As a paid Snipt member, you'll have unrestricted access to the app, <a href="/api/">API</a>,
      instant chat support, and more.
    </p>
    {% if request.user.profile.is_pro %}
      <h3>You're already a Pro.</h3>
    {% else %}
      <h4><a href="/pro/signup/" class="btn btn-large btn-success">Subscribe</a></h4>
    {% endif %}
  </div>
{% endblock %}
