{% extends "base.html" %}

{% block page-title %}Snipt Pro{% endblock %}

{% block body-class %}{{ block.super }} static pro{% endblock %}

{% block breadcrumb %}
    <li><a href="/pro/">Snipt Pro</a></li>
{% endblock %}

{% block content %}
    <div class="static-box">
        <h2>Snipt <span class="pro">Pro</span> members</h2>
        <p>We're still building our <span class="pro">Pro</span> platform, but it already kicks ass. By becoming a Pro now, you'll also get access to future Pro features the moment they're released.</p>
        <h6>Current Pro features:</h6>
        <ul>
            <li>No advertisements.</li>
            <li>Stats on "views" and "favorites" for your snipts.</li>
            <li>&ldquo;Pro&rdquo; badge throughout the site.</li>
            <li>Custom domain for your <a href="https://blog.snipt.net/announcing-the-sniptnet-blogging-platform/">Snipt blog</a>. Contact <a href="mailto:support@snipt.net">support@snipt.net</a> to set it up.</li>
        </ul>
        {% if request.user.profile.is_pro %}
            <h3>You're already a Pro. You know that ;)</h3>
        {% else %}
            <h3>Pro accounts are just $19/year.</h3>
            <h4><a href="/pro/signup/" class="btn btn-large btn-success">Sign Up Now</a></h4>
        {% endif %}
    </div>
{% endblock %}
