{% load snipt_tags %}

{% if user.profile.has_team %}
  <div class="profile group">
      <a href="/{{ user.username }}/">
          <img src="https://secure.gravatar.com/avatar/{{ user.email|md5 }}?s=300" alt="{{ user.username }}" title="{{ user.username }}" />
      </a>
      <div class="meta">
          <div class="username" title="{{ user.username }}">
              <a href="">
                  {{ user.username }}
              </a>
          </div>
          <div class="member-since">Team since {{ user.date_joined|date:"Y" }}</div>
          {% if user.profile.get_blog_posts %}
              <div class="urls">
                  Snipt Blog:
                  <a href="{{ user.profile.get_user_profile_url }}">
                      {{ user.profile.get_user_profile_url }}
                  </a>
              </div>
          {% endif %}
          <div class="member-since">{{ user.team.members.all|length }} member{{ user.team.members.all|pluralize }}</div>
      </div>
  </div>
{% else %}
  <div class="profile group">
      <a href="/{{ user.username }}/">
          <img src="https://secure.gravatar.com/avatar/{{ user.email|md5 }}?s=300" alt="{{ user.username }}" title="{{ user.username }}" />
      </a>
      <div class="meta">
          <div class="username" title="{{ user.username }}">
              <a href="">
                  {{ user.username }}
              </a>
          </div>
          {% if user.username == 'nick' %}
              <div class="member-since">Snipt Founder in {{ user.date_joined|date:"Y" }}</div>
          {% else %}
              <div class="member-since">Member since {{ user.date_joined|date:"Y" }}</div>
          {% endif %}
          {% if user.profile.get_blog_posts %}
              <div class="urls">
                  Snipt Blog:
                  <a href="{{ user.profile.get_user_profile_url }}">
                      {{ user.profile.get_user_profile_url }}
                  </a>
              </div>
          {% endif %}
      </div>
      {% if user.profile.is_pro %}
          <a class="pro" href="/pro/">Pro</a>
      {% endif %}
      {% if user.profile.gittip_username %}
          <a class="gittip" href="https://www.gittip.com/{{ user.profile.gittip_username }}/">Tip</a>
      {% endif %}
  </div>
{% endif %}
