{% extends "base.html" %}

{% load compress %}

{% block meta %}
    {% if 'page' in request.get_full_path %}
        <meta name="robots" content="noindex, follow" />
    {% endif %}
{% endblock %}

{% block body-class %}blog-site{% endblock %}
{% block html-class %}blog-site{% endblock %}

{% block css %}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" />
    <link rel="stylesheet" type="text/x-scss" href="{{ STATIC_URL }}css/blog-themes/default/style.scss" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/themes.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/chosen.css" />
    {% endcompress %}
{% endblock %}

{% block page-title %}
    {% if blog_user.username == 'nick' %}
        Nick Sergeant
    {% else %}
        {{ blog_user.username }}'s blog - Powered by Snipt.net
    {% endif %}
{% endblock %}

{% block page-description %}{% endblock %}
{% block sub-header %}{% endblock %}
{% block rochester-made %}{% endblock %}
{% block aside %}{% endblock %}
{% block keyboard-shortcuts %}{% endblock %}
{% block header %}{% endblock %}

{% block main %}
    <section class="frame">
        <h1 class="blog-title">
            <a href="/">
                {% if blog_user.username == 'nick' %}
                    Nick Sergeant
                {% else %}
                    {{ blog_user.username }}
                {% endif %}
            </a>
        </h1>
        {% if has_snipts %}
            <h2 class="blog-title">
                &raquo; <a href="/blog/">Blog</a>
            </h2>
        {% endif %}
        {% block content %}{% endblock %}
    </section>
{% endblock %}
