{% extends "base.html" %}

{% load compress %}

{% block meta %}
    {% if 'page' in request.get_full_path %}
        <meta name="robots" content="noindex, follow" />
    {% endif %}
{% endblock %}

{% block body-class %}blog-site{% endblock %}
{% block html-class %}blog-site{% endblock %}

{% block css %}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" />
    <link rel="stylesheet" type="text/x-scss" href="{{ STATIC_URL }}css/style.scss" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/themes.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/chosen.css" />
    <link rel="stylesheet" type="text/x-scss" href="{{ STATIC_URL }}css/blog-themes/default/style.scss" />
    {% endcompress %}
{% endblock %}

{% block page-title %}
    {% if blog_user.username == 'nick' %}
        Nick Sergeant
    {% else %}
        {{ blog_user.username }}'s blog - Powered by Snipt.net
    {% endif %}
{% endblock %}

{% block page-description %}{% endblock %}
{% block sub-header %}{% endblock %}
{% block rochester-made %}{% endblock %}
{% block aside %}
    {% if not detail %}
        <aside class="main">
            <nav class="footer">
                <ul>
                    <li class="blog">
                        {% if blog_user.username == 'nick' %}
                            <a href="/">Nick Sergeant</a>
                        {% else %}
                            <a href="/">{{ blog_user.username }}'s blog</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </aside>
    {% endif %}
{% endblock %}
{% block keyboard-shortcuts %}{% endblock %}
{% block header %}{% endblock %}
{% block intercom %}{% endblock %}
