{% extends "blogs/themes/default/base.html" %}

{% load compress pagination_tags %}

{% block body-class %}{{ block.super }} blog-list{% endblock %}

{% block js %}
        {{ block.super }}
        window.detail = false;
{% endblock %}

{% block content %}
    <section class="snipts" id="snipts">
        {% autopaginate snipts 10 %}
        {% for snipt in snipts %}
            {% include "blogs/themes/default/snipt-list.html" %}
        {% empty %}
            <div class="empty-snipts">
                {{ blog_user.username }} has no public blog posts.
            </div>
        {% endfor %}
        {% paginate %}
        {% if detail %}
            {% with snipts.0 as snipt %}
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = 'snipt-net';
                {% if debug %}
                    var disqus_developer = 1;
                {% endif %}
                var disqus_url = '//{{ request.META.HTTP_HOST }}{{ request.path }}';
                var disqus_title = '{{ snipt.title }}';
                var disqus_identifier = {{ snipt.id }};

                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            {% endwith %}
        {% endif %}
    </section>
    <script type="text/javascript" id="disqus">
        var disqus_shortname = 'snipt-net';
        {% if debug %}
            var disqus_developer = 1;
        {% endif %}

        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'https://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
    <script type="text/html" id="disqus-template">
        var disqus_shortname = 'snipt-net';
        {% if debug %}
            var disqus_developer = 1;
        {% endif %}

        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'https://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
{% endblock %}
