{% extends "blogs/themes/default/base.html" %}

{% load pagination_tags %}

{% block body-class %}{{ block.super }} blog-list{% endblock %}

{% block js %}
        {{ block.super }}
        window.detail = false;
{% endblock %}

{% block content %}
    <section class="snipts" id="snipts">
        {% autopaginate snipts 10 %}
        {% for snipt in snipts %}
            {% include "blogs/themes/default/snipt-list.html" %}
        {% empty %}
            <div class="empty-snipts">
                {{ blog_user.username }} has no public blog posts.
            </div>
        {% endfor %}
        {% paginate %}
    </section>
{% endblock %}
