<div class="def" data-title="Site settings">
    <div class="control-group" ng-class="{error: errors.blog_title}">
        <label class="control-label" for="id_blog_title">Blog title:</label>
        <div class="controls">
            <input id="id_blog_title" type="text" ng-model="user.blog_title" maxlength="250">
        </div>
    </div>
    <div class="control-group" ng-class="{error: errors.blog_theme}">
        <label class="control-label" for="id_blog_theme">Blog theme:</label>
        <div class="controls">
            <select ng-model="user.blog_theme"
                ng-options="theme.id as theme.label for theme in blogThemeOptions"
                id="id_blog_theme">
            </select>
        </div>
    </div>
    <div class="control-group" ng-class="{error: errors.blog_domain}">
        <label class="control-label" for="id_blog_domain">Blog domain:</label>
        <div class="controls">
            <input id="id_blog_domain" type="text" ng-model="user.blog_domain" maxlength="250">
            <span class="help-block">Like 'snipt.nicksergeant.com' or 'nicksergeant.com' (without quotes). Set your CNAME to `snipt.net` or A-record to `96.126.110.160`. You can use multiple domains here: separate each domain with a space. The first domain will be your primary domain. All other domains will redirect to your primary domain.</span>
        </div>
    </div>
</div>
<div class="def" data-title="Services">
    <div class="control-group" ng-class="{error: errors.disqus_shortname}">
        <label class="control-label" for="id_disqus_shortname">Disqus shortname:</label>
        <div class="controls">
            <input id="id_disqus_shortname" type="text" ng-model="user.disqus_shortname" maxlength="250">
            <span class="help-block">If you have your own <a href="http://disqus.com/">Disqus</a> account that you'd like to use for your blog comments, enter your shortname here.</span>
        </div>
    </div>
</div>
<div class="def" data-title="Analytics">
    <div class="control-group" ng-class="{error: errors.google_analytics_tracking_id}">
        <label class="control-label" for="id_google_analytics_tracking_id">Google Analytics tracking ID:</label>
        <div class="controls">
            <input id="id_google_analytics_tracking_id" type="text" ng-model="user.google_analytics_tracking_id" maxlength="250">
            <span class="help-block">If you'd like to track visits to your blog site with <a href="http://analytics.google.com">Google Analytics</a>, enter your tracking ID here.</span>
        </div>
    </div>
    <div class="control-group" ng-class="{error: errors.gauges_site_id}">
        <label class="control-label" for="id_gauges_site_id">Gauges site ID:</label>
        <div class="controls">
            <input id="id_gauges_site_id" type="text" ng-model="user.gauges_site_id" maxlength="250">
            <span class="help-block">If you'd like to track visits to your blog site with <a href="http://get.gaug.es/">Gauges</a>, enter your site ID here.</span>
        </div>
    </div>
</div>
<div class="def" data-title="Google AdSense">
    <div class="control-group" ng-class="{error: errors.google_ad_client}">
        <label class="control-label" for="id_google_ad_client">Google Ads: "google_ad_client"</label>
        <div class="controls">
            <input id="id_google_ad_client" type="text" ng-model="user.google_ad_client" maxlength="250">
            <span class="help-block">If you'd like to run Google Ads in your blog's sidebar, enter your client ID here, as well as the following three fields.</span>
        </div>
    </div>
    <div class="control-group" ng-class="{error: errors.google_ad_slot}">
        <label class="control-label" for="id_google_ad_slot">Google Ads: "google_ad_slot"</label>
        <div class="controls">
            <input id="id_google_ad_slot" type="text" ng-model="user.google_ad_slot" maxlength="250">
        </div>
    </div>
    <div class="control-group" ng-class="{error: errors.google_ad_width}">
        <label class="control-label" for="id_google_ad_width">Google Ads: "google_ad_width"</label>
        <div class="controls">
            <input id="id_google_ad_width" type="text" ng-model="user.google_ad_width" maxlength="250">
        </div>
    </div>
    <div class="control-group" ng-class="{error: errors.google_ad_height}">
        <label class="control-label" for="id_google_ad_height">Google Ads: "google_ad_height"</label>
        <div class="controls">
            <input id="id_google_ad_height" type="text" ng-model="user.google_ad_height" maxlength="250">
        </div>
    </div>
</div>
