<form action="" method="get" accept-charset="utf-8">
    <div class="def" data-title="Editor">
        <div class="control-group">
            <label class="control-label" for="id_default_editor">Default editor:</label>
            <div class="controls">
                <select name="default_editor" id="id_default_editor">
                    <option value="C" ng-selected="user.default_editor == 'C'">CodeMirror</option>
                    <option value="T" ng-selected="user.default_editor == 'T'">Textarea</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_editor_theme">Default editor theme:</label>
            <div class="controls">
                <select name="editor_theme" id="id_editor_theme">
                    <option value="default" ng-selected="user.editor_theme == 'default'">Default</option>
                    <option value="ambiance" ng-selected="user.editor_theme == 'ambiance'">Ambiance</option>
                    <option value="blackboard" ng-selected="user.editor_theme == 'blackboard'">Blackboard</option>
                    <option value="cobalt" ng-selected="user.editor_theme == 'cobalt'">Cobalt</option>
                    <option value="eclipse" ng-selected="user.editor_theme == 'eclipse'">Eclipse</option>
                    <option value="elegant" ng-selected="user.editor_theme == 'elegant'">Elegant</option>
                    <option value="erlang-dark" ng-selected="user.editor_theme == 'erlang-dark'">Erlang Dark</option>
                    <option value="lesser-dark" ng-selected="user.editor_theme == 'lesser-dark'">Lesser Dark</option>
                    <option value="monokai" ng-selected="user.editor_theme == 'monokai'">Monokai</option>
                    <option value="neat" ng-selected="user.editor_theme == 'neat'">Neat</option>
                    <option value="night" ng-selected="user.editor_theme == 'night'">Night</option>
                    <option value="rubyblue" ng-selected="user.editor_theme == 'rubyblue'">Ruby Blue</option>
                    <option value="solarized dark" ng-selected="user.editor_theme == 'solarized dark'">Solarized Dark</option>
                    <option value="solarized light" ng-selected="user.editor_theme == 'solarized light'">Solarized Light</option>
                    <option value="twilight" ng-selected="user.editor_theme == 'twilight'">Twilight</option>
                    <option value="vibrant-ink" ng-selected="user.editor_theme == 'vibrant-ink'">Vibrant Ink</option>
                    <option value="xq-dark" ng-selected="user.editor_theme == 'xq-dark'">XQ Dark</option>
                </select>
            </div>
        </div>
    </div>
</form>
