{% extends "base.html" %}

{% load pagination_tags %}

{% block page-title %}Snipt Jobs{% endblock %}

{% block body-class %}{{ block.super }} static jobs{% endblock %}

{% block breadcrumb %}
    <li><a href="/jobs/">Snipt Jobs</a></li>
{% endblock %}

{% block content %}
    <section class="jobs">
        <ul>
            {% for job in jobs %}
                <li>
                    <a href="{{ job.url }}" class="group">
                        <span class="left">
                            <span class="job">{{ job.title }}</span>
                            <span class="company">{{ job.company }}</span>
                        </span>
                        <span class="right">
                            <span class="location">{{ job.location }}</span>
                        </span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
