{% extends "base.html" %}

{% load humanize %}
{% load pagination_tags %}

{% block page-title %}Snipt Jobs{% endblock %}

{% block body-class %}{{ block.super }} static jobs{% endblock %}

{% block breadcrumb %}
    <li><a href="/jobs/">Snipt Jobs</a></li>
{% endblock %}

{% block content %}
    <section class="jobs">
        <ul>
            {% for job in jobs %}
                <li>
                    <a href="{{ job.url }}&aff=dbe7e" class="group">
                        <span class="left">
                            <span class="job">{{ job.title }}</span>
                            <span class="company">{{ job.company }}</span>
                        </span>
                        <span class="right">
                            <span class="location">{{ job.location }}</span>
                            <span class="date">{{ job.created|naturalday }}</span>
                        </span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}

{% block aside-top %}
    <div class="job-twitter">
        <a href="https://twitter.com/sniptjobs" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @sniptjobs</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
    <div class="post-job">
        <a href="http://www.authenticjobs.com/post/?aff=dbe7e" class="btn btn-large btn-success">Post a job</a>
        <p>
            We use <a href="http://www.authenticjobs.com?aff=dbe7e">Authentic Jobs</a> for our job board provider. Once you post your ad, it will appear on Snipt within 24 hours.
        </p>
    </div>
{% endblock %}
